////// FONT SETUP
@import url("//hello.myfonts.net/count/2fbe6c");

@font-face {
  font-family: 'Futura';
  src: url("//cdn2.rsc.org.uk/RSC/fonts/futuraeot.eot");
  src: url("//cdn2.rsc.org.uk/RSC/fonts/futuraeot.eot?#iefix") format("embedded-opentype"),
        url("//cdn2.rsc.org.uk/RSC/fonts/futurawoff2.woff2") format("woff2"),
        url("//cdn2.rsc.org.uk/RSC/fonts/futurawoff.woff") format("woff"),
        url("//cdn2.rsc.org.uk/RSC/fonts/futurattf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url("//cdn2.rsc.org.uk/RSC/fonts/futuraitaliceot.eot");
  src: url("//cdn2.rsc.org.uk/RSC/fonts/futuraitaliceot.eot?#iefix") format("embedded-opentype"),
        url("//cdn2.rsc.org.uk/RSC/fonts/futuraitalicwoff2.woff2") format("woff2"),
        url("//cdn2.rsc.org.uk/RSC/fonts/futuraitalicwoff.woff") format("woff"),
        url("//cdn2.rsc.org.uk/RSC/fonts/futuraitalicttf.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Futura';
  src: url("//cdn2.rsc.org.uk/RSC/fonts/futuraboldeot.eot");
  src: url("//cdn2.rsc.org.uk/RSC/fonts/futuraboldeot.eot?#iefix") format("embedded-opentype"),
        url("//cdn2.rsc.org.uk/RSC/fonts/futuraboldwoff2.woff2") format("woff2"),
        url("//cdn2.rsc.org.uk/RSC/fonts/futuraboldwoff.woff") format("woff"),
        url("//cdn2.rsc.org.uk/RSC/fonts/futuraboldttf.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('//cdn2.rsc.org.uk/RSC/fonts/futurabolditaliceot.eot');
    src: url('//cdn2.rsc.org.uk/RSC/fonts/futurabolditaliceot.eot?#iefix') format('embedded-opentype'),
        url('//cdn2.rsc.org.uk/RSC/fonts/futurabolditalicwoff2.woff2') format('woff2'),
        url('//cdn2.rsc.org.uk/RSC/fonts/futurabolditalicwoff.woff') format('woff'),
        url('//cdn2.rsc.org.uk/RSC/fonts/futurabolditalicttf.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}




////// BORDER BOX
@include border-box-sizing;




////// SUSY GRID LAYOUT
$susy: (
    columns: 12,
    gutters: 0.5,
    gutter-position: split
    );




////// BODY
body {
    font-family: 'Futura', Helvetica, sans-serif;
    font-size: $font-reg;
    color: $gray;
    background-color: white;
    
    &.noscroll {
        overflow: hidden;
    }
    
    /* Set up breakpoints for JS detection & Media Query Combiner */
    &:before {
        content: "xsmall";
        display: none; 
    } // smallest
    
    @include breakpoint($small){
        &:before {
            content: "small";
        }
    } // small
    
    @include breakpoint($smadium){
        &:before {
            content: "smadium";
        }
    } // medium
    
    @include breakpoint($medium){
        &:before {
            content: "medium";
        }
    } // medium
    
    @include breakpoint($large) {
        &:before {
            content: "large";
        }
    } // large
    
    @include breakpoint($xlarge) {
        &:before {
            content: "xlarge";
        }
    } // xlarge
} // body

////// END body




////// HEADINGS
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, p, blockquote, .sp-tag {
    max-width: $copy-max;
}

h1, h2 {
    letter-spacing: $head-space;
}

h3 {
    @include old-ie { letter-spacing: 2px; }
    letter-spacing: 0.15rem;
}

h4, h5 {
    @include old-ie { letter-spacing: 1px; }
    letter-spacing: 0.07rem;
}

h1, .section-header h2, .section-side-header h2, .search-result-header h2 {
    font-size: $h1;
}

h4.title {
    
    @include breakpoint($large) {
        font-size: $h1;
    }
}

h2, h3.related-title, p.subtitle, h4 {
    font-size: $h2;
}

////// END headings




////// ICONS
.icon {
    width: 100%;
    display: inline-block;
    
    img, svg {
        float: left;
        display: inline-block;
        @include old-ie { margin-right: 16px; }
        margin-right: $single-gap;
        width: 50px;
        height: 50px;
        height: auto;
    } // img +svg
    
    svg {
        .icon-bkgrnd {
            fill: $gray;
        } // icon bkgrnd
        .icon-vector {
            fill: white;
        } // icon vector
    } // svg
    
    .icon-copy {
        float: left;
        width: 75%;
        
        @include breakpoint($medium-ie) {
            width: 85%;
        }
    } // icon copy
} // h2 + h3 icon

////// END icons




////// BUTTONS + LINKS
button {
    font-family: 'Futura', Helvetica, sans-serif;
}

a {
    color: $red;
    text-decoration: none;
    @include transition(all $hoverSpeed ease-out);
    
    &:hover {
        color: $gray;
    } // hover
    
    &.on-light, &.reverse {
        color: $gray;

        &:hover {
            color: $red;
        } // hover
    } // light button, reverse
    
    &.header-link {
        color: $lightergray;
        
        &:hover {
            color: $red;
        } // hover
    } // global header link
    
    &.dark-header-link {
        color: $lightgray;
        
        &:hover {
            color: $red;
        } // hover
    } // global header link
    
    &.on-red {
        color: white;
        
        polyline, line {
            stroke: white;
            stroke-width: 2;
            fill: none;
            @include transition(all $hoverSpeed ease-out);
        }
        
        &:hover {
            color: $gold;
            
            polyline, line {
                stroke: $gold;
            }
        } // hover
    } // on red
    
    &.white-link {
        color: white;
        
        &:hover {
            color: $lightgray;
        } // hover
    } // white link
    
    &.on-dk-gray {
        color: $gold;
        
        &:hover {
            color: $lightergray;
        }
    } // on dk gray
} // a

.button-link {
    display: inline-block;
    font-size: $widget-copy;
    @include old-ie { padding: 8px 10px 6px; }
    padding: 0.5rem 0.6rem 0.4rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: $button-space;
    cursor: pointer;
    text-align: center;
    
    &, & svg {
        @include transition(all $hoverSpeed ease-out);
    }
    
    &.thin {
        @include old-ie { padding: 4px; }
        padding: 0.25rem 0.25rem 0.15rem;
        font-size: $font-small;
    }
    
    &.sml {
        @include old-ie { padding: 8px; }
        padding: 0.5rem;
        font-size: $font-small;
    }
    
    &.ltgray-btn {
        background-color: $lightergray;
        color: $gray;
        
        svg {
            fill: $gray
        }

        &:hover {
            background-color: $red;
            color: white;
            
            svg {
                fill: white;
            }
        } // hover
    } // gray button
    
    &.gray-btn {
        background-color: $gray;
        color: $gold;

        &:hover {
            background-color: $red;
            color: white;
        } // hover
    } // gray button
    
    &.gray-btn2 {
        background-color: $gray;
        color: $gold;

        &:hover {
            background-color: $gold;
            color: $gray;
        } // hover
    } // gray button

    &.red-btn {
        background-color: $red;
        color: white;
        
        svg {
            fill: white;
        }
        
        &:hover {
            background-color: $gray;
            color: white;
        } // hover
    } // red button
    
    &.red-btn2 {
        background-color: $red;
        color: white;
        
        svg {
            fill: white;
        }
        
        &:hover {
            background-color: white;
            color: $red;
            
            svg {
                fill: $red;
            }
        } // hover
    } // red button 2
    
    &.gold-btn {
        background-color: $gold;
        color: $gray;
        
        &:hover {
            background-color: $gray;
            color: $gold;
        } // hover
    } // gold button
    
    &.gold-btn2, &.gold-btn3 {
        background-color: $gold;
        color: $gray;
        
        &:hover {
            background-color: $red;
            color: $gold;
        } // hover
    } // gold button 2
    
    &.on-white-btn {
        padding-right: 0;
        padding-left: 0;
    }
    
    &.red-outline {
        border: 1px solid $red;
        color: $red;
        
        &:hover {
            background-color: $red;
            color: white;
        }
    }
    
    span {
        display: inline-block;
    }
} // button link

////// END buttons + links




////// NOTICES, HIGHLIGHT
.notice {
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    
    &.sml {
        font-size: 10px;
        line-height: 1em;
        padding: 0.25rem;
    } // sml
    
    &.red {
        color: $red;
        border: $thickRedBorder
    } // red
} // notice




////// PARAGRAPHS, CAPTIONS + FONT STYLES
p, figcaption {
    line-height: 1.5em;
}

p.ongray-intro {
    color: $lightergray;
    font-weight: bold;
    font-size: $intro-copy-lrg;
    letter-spacing: $intro-space;
    line-height: 1.3em;
} // p on gray

strong, b, .heavy {
    font-weight: bold;
} // strong, b

em, i, .italic, .plays {
    font-style: italic;
} // em, i, italic,  plays

.small {
    font-size: $widget-copy;
    line-height: 1.4em;
}
.smaller {
    font-size: $font-small;
    line-height: 1.4em;
}
.smlst {
    font-size: 10px;
    line-height: 1.2em;
}
.small, .smaller {
    p {
        line-height: inherit;
    }
}
.lrg-copy {
    font-size: $h3;
}
.lrgr-copy {
    font-size: $h2;
}
.max-copy {
    font-size: $h1;
}
.upc {
    text-transform: uppercase !important;
}

.info-panel {
    border: $mainBorder;
    padding: $single-gap;
    
    &.white {
        border: $lightBorder;
    }
}
.cent-copy {
    text-align: center;
}
.gld {
    color: $gold;
}
.rd {
    color: $red;
}

.db-bt-mg {
    margin-bottom: $double-gap;
} // double bottom margin

.sn-bt-mg {
    margin-bottom: $single-gap;
} // single bottom margin

.hf-bt-mg {
    @include old-ie { margin-bottom: 8px !important; }
    margin-bottom: $single-gap/2 !important;
} // half bottom margin

.qt-bt-mg {
    @include old-ie { margin-bottom: 4px !important; }
    margin-bottom: $single-gap/4 !important;
} // half bottom margin

////// END paragraphs, captions + font styles




////// IMAGES
img {
    max-width: 100%;
}

////// END images




////// BACKGROUND COLOURS
.gold-bkgrnd {
    background-color: $gold;
} // gold bkgrnd

.dk-gray {
    background-color: $gray;
    color: $lightergray;

    .section-intro {
        color: $lightergray;
    } // section-intro 
} // dark gray bkgrnd

.lt-gray {
    background-color: $lightergray;
} // light gray bkgrnd

.red-bkgrnd {
    background-color: $red;
    color: white;
} // red background

.black-bkgrnd {
    background-color: black;
    color: white;
} // red background

////// END background colours




////// HELPER CLASSES
.cleared {
    clear: both;
}

.hidden {
    display: none;
}

.reset {
    padding: 0 !important;
} // reset, FOR REMOVING PADDING FROM ELEMENTS IN C-WB AND L-WR

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

////// END helper classes




////// ANIMATIONS
@-moz-keyframes subnav-large {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes subnav-large {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}
@keyframes subnav-large {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}
@-moz-keyframes subnav-large-fade {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        display: none;
    }
}
@-webkit-keyframes subnav-large-fade {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes subnav-large-fade {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        display: none;
    }
}
//@include keyframes(subnav-large) {
//      0% { opacity: 0; }
//    100% { opacity: 1; }
//}
//
//@include keyframes(subnav-large-fade) {
//      0% { opacity: 1; }
//    100% { opacity: 0; display: none; }
//}

// What's On Animations
//@include keyframes(wo-grid-outer) {
//      0% { opacity: 0; z-index: 10; }
//    100% { opacity: 1; z-index: 10; }
//}
//@include keyframes(wo-grid-outer-fade) {
//      0% { opacity: 1; }
//     99% { opacity: 0; z-index: -1; }
//    100% { opacity: 0; z-index: -1; }
//}

////// END animations




/* CLASS ACRONYMS
l-wr = left - widget to right
c-wb = centered copy - widget below
w-rs = widgets, right side
w-sl = widgets, single line
w-cb = widgets, single column bottom
w-rc = widgets, related content
w-ic = widgets, in content

tc = two columns
*/