////// MAIN CONTAINER

.main-container {
    margin-top: 66px;
    @include old-ie { padding-bottom: 32px; }
    padding-bottom: $double-gap;
    
    @include breakpoint ($medium) {
        margin-top: 80px;
    }
    @include breakpoint ($large) {
        margin-top: 122px;
    } // breakpoint medium
} // main-container


////// END MAIN CONTAINER




////// ARTICLES, HEADERS + SECTIONS

article {
    header {
        background-color: $gray;
    } // homepage, section-hub, play-hub, whatson
    
    .content-header, .content-wrapper {
        @include container($xlarge);
    } // content header, content wrapper
    
    &.base-page header {
        @include container($xlarge);
        background-color: white;
    } // base page
    
    .base-header {
        @include old-ie { margin-top: 32px; }
        margin-top: $double-gap;
    } // base header
    
    section {
        @include container($xlarge);
        @include old-ie { padding-top: 32px; }
        padding-top: $double-gap;

        &:first-of-type:not(.section-intro) {
            margin-top: 0;
        } // first child

        aside {
            margin-top: $double-gap;

            @include breakpoint($large){
                margin-top: 0;
            } // breakpoint large
        } // aside

        .bottom-feed {
            @include old-ie { margin-top: 32px; }
            margin-top: $single-gap;
        } // bottom feed
    } // section
} // article


////// END ARTICLES, HEADERS + SECTIONS




////// HERO/MAIN IMAGE, HOMEPAGE + SECTION HUBS


// MAIN IMAGE + HERO IMAGE, ALL TEMPLATES
.main-image, .hero-image {
    position: relative;
    
    .main-image-holder {
        
        img {
            width: 100%;
            display: block;
        } // img
    } // main-image-holder
} // main image + hero image

// END MAIN IMAGE + HERO IMAGE, ALL TEMPLATES


// HOMEPAGE SECTION INTROS (HIDE IMAGE ON SMALLER SIZES)
.hero-image .main-image-holder {
    display: none;
    
    @include breakpoint($medium-ie) {
        display: block;
        // set up min heights for lazy-loading
        min-height: 340px;
    } // breakpoint medium
    
    @include breakpoint($large) {
        min-height: 440px;
    } // breakpoint large
    
    @include breakpoint($xlarge){
        min-height: 620px;
    } // breakpoint xlarge
} // hero image, main image holder

// END HOMEPAGE SECTION INTROS


// HERO IMAGES FOR HOMEPAGE AND SECTION HUBS
header .hero-image {
    height: 380px;
    overflow: hidden;
    
    .hero-copy {
        @include old-ie { padding: 32px 0 0; }
        padding: $double-gap 0 0;
        position: absolute;
        width: 100%;
        bottom: 0;
        @include background-image(linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.8)));
        
        h1.title {
            font-size: 5.7vw;
            display: inline-block;
            width: 100%;
        } // h1 title
    } // hero copy
    
    .main-image-holder {
        display: block;    // reset for non-flexbox
        
        display: -ms-flexbox;    // TWEENER - IE 10
        -ms-flex-align: center;    // TWEENER - IE 10
        -ms-flex-pack: center;    // TWEENER - IE 10
        -ms-flex-direction: column;    // TWEENER - IE 10
        
        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
        height: 100%;
        
        & > span {
            display: block;    // reset for non-flexbox
            
            display: -ms-flexbox;    // TWEENER - IE 10
            -ms-flex-align: center;    // TWEENER - IE 10
            -ms-flex-pack: center;    // TWEENER - IE 10
            -ms-flex-direction: column;    // TWEENER - IE 10
            
            @include display-flex;
            @include align-items(center);
            @include justify-content(center);
            @include flex-direction(column);
            height: 100%;
            width: 100%;
        }
        
        img {
            height: 100%;
            width: auto;
            max-width: none;
        } // img
    } // main image holder
    
    @include breakpoint($smadium) {
        .hero-copy h1.title {
            font-size: 4.4vw;
        } // hero copy > h1 title
    } // small medium breakpoint
    
    @include breakpoint($medium-ie) {
        height: auto;
        
        .main-image-holder {
            display: block;
            min-height: 347px;
            
            & > span {
                display: block;
                min-height: 347px;
            }
            
            img {
                //height: auto;
                width: 100%;
            } // img
        } // main image holder
        
        .hero-copy h1.title {
            font-size: $h1;
        } // hero-copy > h1.title
    } // breakpoint medium
} // HEADER > hero image

// END HERO IMAGES FOR HOMEPAGE AND SECTION HUBS


// LINK HERO
a.hero-image {
    display: block;
    
    svg {
        display: inline-block;
        margin-left: 0;
        @include transition(margin-left $hoverSpeed ease-out);
        width: 2vw;
        height: auto;
        fill: none;
        stroke: white;
        stroke-width: 3px;
    }
    
    .title, .hero-intro {
        color: white !important;
    }
    
    &:hover {
        
        .title, .hero-intro {
            color: white !important;
        }
        
        .hero-copy svg {
            margin-left: $single-gap/2;
        }
    }
    
    @include breakpoint($smadium) {
        svg {
            width: 1.5vw;
        }
    }
    
    @include breakpoint($medium) {
        svg {
            width: 13px;
            height: 28px;
        }
    }
} // a.hero-image

// END LINK HERO


////// END HERO IMAGE, HOMEPAGE + SECTION HUBS




////// PLAY HUB HEADER


// RIGHT SIDE MENU + INFO
.half-right {
    @include span(full nest);

    @include breakpoint($medium) {
        width: 50%;
        margin-left: 0;
        margin-right: 0;
    } // breakpoint medium
} // half right

// END RIGHT SIDE MENU + INFO


// MAIN IMAGE FOR PLAY HUBS
.main-image {
    @include breakpoint($medium-ie) {
        width: 50%;
        float: left;
    } // breakpoint medium
} // main-image

// END MAIN IMAGE FOR PLAY HUBS


// DEFAULT PLAY HUB HEADER
.header-wrapper {
    position: relative;
} // header wrapper

.side-info {
    padding: $double-gap (span(1) + gutter(12));

    .play-intro-copy, .pr-booking {
        @include old-ie { margin-bottom: 32px; }
        margin-bottom: $double-gap;
    } // play intro copy

    .header-link {
        color: $gold;

        &:hover {
            color: $lightergray;
        } // hover
    } // header link

    .selected {
        color: $gold;
        opacity: 0.6;
    } // selected

    .time-place {
        color: $lightergray;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: $single-gap;

        @include breakpoint($small-ie){
            float: right;
            width: 50%;
            margin-bottom: 0;
        } // breakpoint small

        p {
            line-height: 1.2em;

            span {
                display: inline-block;
            } // span
        } // p

        ul {
            li {
                @include old-ie { margin-bottom: 8px; }
                margin-bottom: $single-gap/2;

                &:last-child {
                    margin-bottom: $single-gap;

                    @include breakpoint($small-ie) {

                        margin-bottom: 0;

                        &.timing-pricing {
                            @include old-ie { margin-top: 16px; }
                            margin-top: $single-gap;
                        } // timing pricing
                    } // breakpoint small
                } // last chile

                &.timing-pricing {
                    font-style: italic;
                    text-transform: none;
                } // timing + pricing
            } // li
        } // ul
    } // time & place

    .buy-tickets {
        @include old-ie { margin-bottom: 16px; font-size: 19px; }
        margin-bottom: $single-gap;
        font-size: $font-reg * 1.2;
        font-weight: bold;
    } // buy tickets

    .side-menu {
        text-transform: uppercase;

        ul {
            li {
                line-height: 1em;
                @include old-ie { margin-bottom: 4px; }
                margin-bottom: 0.3rem;

                &:last-child {
                    margin-bottom: 0;
                } // last child
            } // li
        } // ul
    } // side menu

    @include breakpoint($small) {

        .side-menu {
            position: relative;
            bottom: 0;
            left: 0;
            width: span(6);
        } // side menu
    } // breakpoint small
    
    @include breakpoint($medium-ie) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        @include old-ie { padding: 16px; }
        padding: $single-gap;
        
        .play-intro-copy, .pr-booking {
            display: none;
            margin-bottom: 0;
        } // play intro copy

        .time-place {
            @include old-ie { bottom: 16px; right: 16px; padding-left: 0; }
            position: absolute;
            bottom: $single-gap;
            right: $single-gap;
            padding-left: $single-gap;
        } // time place

        .side-menu {
            @include old-ie { bottom: 16px; left: 16px; }
            bottom: $single-gap;
            left: $single-gap;
            position: absolute;
            width: span(3 of 6);
        } // side menu
    } // breakpoint medium

    @include breakpoint($large) {

        .play-intro-copy, .pr-booking {
            display: block;
        } // play intro copy
    } // large

    @include breakpoint($xlarge) {
        padding: $double-gap;

        .play-intro-copy {
            width: 50%;
        } // play intro copy

        .time-place {
            top: $double-gap;
            right: 0;
            padding-left: 0;
            width: span(2 of 6 wide no-gutter);
        } // time place

        .side-menu {
            bottom: $double-gap;
            right: 0;
            left: inherit;
            width: span(2 of 6 wide no-gutter);
        } // side menu
    } // breakpoint xlarge
} // side info

// END DEFAULT PLAY HUB HEADER


// MEDIA HEADER RESETS; FOR GALLERIES, VIDEOS ETC ETC
.media-header {
        
    .media-holder {

        .title-copy {
            cursor: pointer;
        } // title copy

        .media-inner {
            @include old-ie { padding: 16px 0 32px; }
            padding: $single-gap 0 $double-gap;
            position: relative;

            iframe {
                width: 100%;
                display: block;
            } // iframe
        } // media inner
        
        .incinemas-holder {
            @include old-ie { margin: 16px 0; }
            margin: $single-gap 0;
            height: 400px;
            padding: 0 (span(1) + gutter(12));
            -webkit-overflow-scrolling: touch;
            overflow-y: scroll;
            overflow-x: hidden;
            overflow-y: hidden;

            iframe {
                height: 400px;
            } // iframe
        } // iframe holder

        @include breakpoint($medium-ie) {
            width: 75%;
            padding-left: gutter(12);
            padding-right: gutter(6);
            min-height: 500px;
            display: block;    // reset for non-flexbox

            display: -ms-flexbox;    // TWEENER - IE 10
            -ms-flex-align: center;    // TWEENER - IE 10
            -ms-flex-pack: justify;    // TWEENER - IE 10

            @include display-flex();
            @include align-items(center);
            @include justify-content(space-around);

            .media-inner {
                width: 100%;
                @include old-ie { padding-bottom: 16px; }
                padding-bottom: $single-gap;
            } // media inner
            
            .incinemas-holder {
                height: 550px;
                margin-bottom: 0;
                padding: 0;

                iframe {
                    height: 550px;
                } // iframe
            } // in cinemas holder
        } //breakpoint medium

        @include breakpoint($large) {
            /* .media-inner { */
                .incinemas-holder {
                    @include old-ie { display: none; }
                    height: 550px;
                } // in cinemas
            /* }// media inner */
        } //breakpoint large

        @include breakpoint($xlarge) {
            width: span(10 wide);

            .media-inner {
                padding: $double-gap 0;
            } // media inner
            
            .incinemas-holder {
                height: 650px;

                iframe {
                    height: 650px;
                }
            } // in cinemas
        } // breakpoint xlarge
    } // media holder

    .side-info.prod-info {
        padding-top: 0;

        @include breakpoint($medium-ie) {
            float: right;
            width: 25%;
            padding: 0;

            .time-place {
                position: absolute;
                @include old-ie { top: 16px; }
                top: $single-gap;
                left: 0;
                padding-left: 0;
                width: auto;
                bottom: initial;
            } // time place

            .side-menu {
                @include old-ie { bottom: 16px; }
                bottom: $single-gap;
                left: 0;
                width: auto;
            } // side menu
        } // breakpoint medium

        @include breakpoint($xlarge) {
            width: span(2 of 12 wide no-gutter);

            .time-place, .side-menu {
                width: auto;
            } // time place

            .side-menu {
                bottom: $double-gap;
                left: 0;
            } // side menu
        } // breakpoint xlarge
    } // side info.prod info
} // media header

// END MEDIA HEADER RESETS


////// END PLAY HUB HEADER




/***** MOVE TO MODULES *****/
////// HOMEPAGE SECTIONS

.section-wrapper {
    
    &.warning {
        
        @include old-ie { 
            padding-top: 32px;
            border-top: 16px solid white;
            border-bottom: 16px solid white;
        }
        
        padding-top: $double-gap;
        background-color: $red;
        color: white;
        border-top: $single-gap solid white;
        border-bottom: $single-gap solid white;
        
        h2, h3, p {
            padding: 0 span(1);
        }
        
        p {
            @include old-ie { margin-bottom: 32px; }
            margin-bottom: $double-gap;
            
            &:last-child {
                margin-bottom: 0;
            } // last child
        } // p
        
        @include breakpoint($small) {
            h2, p {
                padding-left: 0;
                padding-right: 0;
            }
        }
    } // warning
    
    & > section.section-intro {
        padding-top: 0;
        @include old-ie { padding-bottom: 32px; }
        padding-bottom: $double-gap;
    } // > section.section-intro
} // section wrapper

.section-intro > h2 {
    font-size: $h2-home;
    text-align: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    
    &:first-child {
        @include old-ie { padding: 32px span(1); }
        padding: $double-gap span(1);
    } // first-child
} // section intro > h2


////// END HOMEPAGE SECTIONS
/***** END MOVE TO MODULES *****/




////// MAIN CONTAINER GENERAL CLASSES + STYLES

// COPY + CONTENT STYLES
section.main-copy {
    
    h1 + p {
        @include old-ie { margin-top: 32px; }
        margin-top: $double-gap;
    }
    
    h2 {
        line-height: 1.3em;
        text-transform: uppercase;
        @include old-ie { margin-top: 32px; margin-bottom: 16px; }
        margin-top: $double-gap;
        margin-bottom: $single-gap;
        
        @include breakpoint($medium-ie) {
            padding: 0;
        } // breakpoint medium
    } // h2

    h3 {
        @include old-ie { margin-bottom: 16px; }
        margin-bottom: $single-gap;
        line-height: 1.2em;
    } // h3
    
    p.intro-copy {
        font-size: $intro-copy-lrg;
        font-weight: bold;
        @include old-ie { margin-bottom: 32px; }
        margin-bottom: $double-gap;
        
        &.event-dates {
            text-transform: uppercase;
        } // event dates
    } // intro copy
    
    p {
        @include old-ie { margin-bottom: 16px; }
        margin-bottom: $single-gap;
    } // p
    
    .sfContentBlock:last-child > p:last-child {
        margin-bottom: 0;
    } // sitefinity content block
    
    figure {
        @include old-ie { max-width: 912px; }
        max-width: $copy-max;
        
        img {
            display: block;
            width: 100%;
            height: auto;
        } // img
        
        &.portrait {
            @include old-ie { max-width: 547px; }
            max-width: $copy-max * 0.6;
        } // portrait figures
    } // figure


    blockquote {
        padding: ($double-gap * 3) $double-gap $double-gap;
        margin: 0 span(1) $single-gap;
        
        p {
            margin-bottom: $single-gap/2;
            padding: 0;
            
            &:last-of-type {
                margin-bottom: 0;
            } // last of type
            
            &.stars {
                font-size: $h2;
            } // stars
        } // p
        
        cite {
            display: block;
            @include old-ie {
                margin-top: 16px;
            }
            margin-top: $single-gap;
            text-transform: uppercase;
        } // cite
        
        @include breakpoint($small){
            margin-left: 0;
            margin-right: 0;
        } // breakpoint small
        
        @include breakpoint($medium-ie){
            padding: $double-gap 0;
            
            p, cite {
                margin-left: span(2 of 10) + gutter(6);
                margin-right: span(2 of 10) + gutter(6);
            } // p + cite
        } // breakpoint medium
    } // blockquote
    
    // BIG QUOTE
    .quote-holder {
        float: left;
        width: 100%;
        
        .big-quote {
            color: $red;
            display: block;

            &:hover {
                color: $red;

                cite {
                    color: $gray;
                } // cite
            } // hover

            blockquote {
                border: 1px solid $lightgray;
                background: white;
                padding: $single-gap;

                p {
                    font-size: $h2;
                    text-transform: uppercase;
                    line-height: 1em;

                    &.stars {
                        font-size: $intro-copy-lrg
                    } // stars
                } // p
                cite {
                    font-size: $font-small;
                    margin-top: $single-gap/2;
                    @include transition(all $hoverSpeed ease-out);
                } // cite
            } // block quote
            
            &.long-form {
                color: $gray;
                
                blockquote p {
                    text-transform: none;
                }
            }
        } // Big Quote
        
        @include breakpoint($medium) {
            margin-left: -(gutter(9));
            margin-right: -(gutter(9));
            width: 100% + gutter(9) + gutter(9);
            
            .big-quote {
                @include span(9 of 9);
                
                &.multiple {
                    @include span(3 of 9);
                } // multiple
                
                &.double {
                    @include span(4.5 of 9);
                } // double
                
                p, cite {
                    margin-left: 0;
                    margin-right: 0;
                } // p & cite
            } // big quote
        } // breakpoint medium
        
        @include breakpoint($large) {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            @include old-ie { max-width: 912px; }
            max-width: 57rem;
            
            .big-quote {
                margin-left: 0;
                margin-right: 0;
                width: 100%;
                
                &.multiple {
                    width: span(3 of 9) + gutter(9);
                    margin-left: 0;
                    margin-right: gutter(9) + gutter(18);
                    
                    &:nth-child(3n) {
                        margin-right: 0;
                    } // 3rd child
                    &:nth-child(3n + 1) {
                        clear: both;
                    } // 3rd + 1 child
                } // multiple
                
                &.double {
                    width: span(5 of 10) + gutter(12);
                    
                    &:first-child {
                        margin-left: 0;
                    } // first child
                    &:last-child {
                        margin-right: 0;
                        float: right;
                    } // last child
                } // double
                
                @include old-ie {
                    float: left;
                    
                    cite {
                        margin-top: 8px;
                    }
                    p, cite {
                        margin-left: 0;
                        margin-right: 0;
                    } // p & cite
                }
            } // big quote
        } // breakpoint large
    } // quote holder
} // main copy

section.main-copy, section.section-intro {
    
    ul {
        list-style: disc;
    }
    
    ol {
        list-style: decimal;
        
        ol {
            list-style: lower-roman;
            
            ol {
                list-style: lower-latin;
            } // ol > ol > ol
        } // ol > ol
    } // ol
    
    ul, ol {
        @include old-ie { 
            max-width: 912px;
            padding: 16px 32px 32px;
            margin-left: 32px;
            margin-right: 32px;
        }
        padding: $single-gap $double-gap $double-gap;
        max-width: $copy-max;
        margin-left: $double-gap;
        margin-right: $double-gap;
        
        ul, ol {
            @include old-ie { padding-bottom: 16px; }
            padding-bottom: $single-gap;
            padding-right: 0;
            margin: 0;
        } // ul, ol
        
        li {
            @include old-ie {
                margin-bottom: 8px;
                line-height: 1.5em;
            }
            margin-bottom: $single-gap/2;
            line-height: 1.5rem;
            
            &:last-child {
                margin-bottom: 0;
            } // last child
        } // li
    } // ul + ol
} // main copy, section intro

ul {
    &.sngl-line {

        li {
            display: inline-block;
            margin-right: $single-gap/2 !important;
            margin-left: $single-gap/2 !important;
        }
    }
    
    &.stacked {
        li {
            display: block;
            margin-bottom: 0.5rem !important;
            
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
}

// END COPY + CONTENT STYLES


// FIGURE + VIDEO CAPTIONS
figcaption, .video-caption {
    background-color: $lightergray;
    @include old-ie { padding: 16px }
    padding: $single-gap;
    font-size: $font-small;
    color: $gray;

    @include breakpoint($medium-ie) {
        font-size: $widget-copy;
    } // breakpoint large
    @include breakpoint($xlarge) {
        padding: $single-gap * 1.5;
    } // breakpoint large
} // figcaption

// PHOTO CREDITS
.ph-credit {
    margin-top: 8px;
    font-style: italic;
    font-size: $font-small;
    text-align: right;

    .name {
        display: inline-block;
        //text-transform: uppercase;
    } // name

    .lic-link {
        display: inline-block;
    } // licensing link
} // photo credit


////// END MAIN CONTAINER GENERAL CLASSES + STYLES




////// GRID EXAMPLE CLASSES

.container.main-container #content {
    
    .grid-ex-header {
        @include span(full);
    } // grid example header
    
    .grid-example {
        @include container($xlarge);
        
        h3, p {
            @include span(full);
        } // h3, p
    } // grid example
} // container, main container, content

.example-class {
    background-color: $lightgray;
    height: 5em;
    margin-bottom: 1em;
    
    &:first-of-type {
        clear: both;
    } // first of type
} // example class

// vanilla examples */
.twelfth      { @include span(1); }
.sixth        { @include span(2); }
.quarter      { @include span(3); }
.third        { @include span(4); }
.half         { @include span(6); &:nth-child(2n+3) { clear: both; } }
.full         { @include span(full); }

.med-sixth { @include breakpoint($medium){ @include span(2); } }

// half, smadium thirds
.h-sm-th {
    @include span(6);
    
    &:nth-child(2n+3) { clear: both; }
    
    @include breakpoint($smadium) {
        @include span(4);
        
        &:nth-child(2n+3) { clear: none; }
        
        &:nth-child(3n+4) { clear: both; }
    }
}

// responsive vanilla examples
.thirds-to-twelfth { 
    @include span(4);
    
    &:nth-child(3n+4) { clear: both; }
    
    @include breakpoint($medium) {
        @include span(2);
        
        &:nth-child(3n+4) { clear: none; }
        
        &:nth-child(6n+7) { clear: both; }
        
    } // break medium
    @include breakpoint($large) {
        @include span(1);
        
        &:nth-child(6n+7) { clear: none; }
        
        &:nth-child(12n+13) { clear: both; }
    } // break xlarge
} // 3rd to 12th

.thirds-to-sixth { 
    @include span(4);
    
    &:nth-child(3n+4) {
        clear: left;
    }
    
    @include breakpoint($medium) {
        @include span(3);
        
        &:nth-child(3n+4) { clear: none; }
        
        &:nth-child(4n+5) { clear: left; }
    } // break medium
    
    @include breakpoint($xlarge) {
        @include span(2);
        
        &:nth-child(4n+5) { clear: none; }
        
        &:nth-child(6n+7) { clear: left; }
    } // break xlarge
} // 3rd to 6th

.half-to-sixth {
    @include span(6);
    
    @include breakpoint($medium) {
        @include span(4);
    } // breakpoint medium
    
    @include breakpoint($large) {
        @include span(2);
    } // breakpoint large
} // half to sixth
.full-to-quarter { 
    @include span(full);
    
    @include breakpoint($medium) {
        @include span(6);
    } // breakpoint medium
    
    @include breakpoint($large) {
        @include span(3);
    } // breakpoint large
} // full to quarter

// only use within c-wb or l-wr
.full-to-half {
    @include old-ie { margin-top: 32px; }
    margin-top: $double-gap;
    
    @include breakpoint($medium-ie) {
        width: 50%;
        margin-top: 0;
        
        &:nth-child(2n+1) {
            float: left;
            padding-right: gutter(5);
        } // 1st, 3rd, 5th etc
        &:nth-child(2n) {
            float: right;
            padding-left: gutter(5);
        } // 2nd, 4th, 6th
    } // breakpoint medium
} // full to half

// full to half, medium - only in c-wb or l-wr
.fth-med {
    @include breakpoint($medium-ie) {
        width: 50%;
        float: left;
        padding-right: gutter(5);
        
        &.panel {
            padding-left: gutter(5);
        }
    } // breakpoint medium
} // full to half, medium

// half to third & half all - only in c-wb or l-wr
.htth-smad, .h-all {
    width: 50%;
    float: left;
    padding-right: gutter(5);
    
    &:nth-child(2n+3) {
        clear: left;
    }
}

// half to third, smadium - only in c-wb or l-wr
.htth-smad {
    @include breakpoint($smadium-ie) {
        width: 33.3333%;
    
        &:nth-child(2n+3) {
            clear: none;
        }
    
        &:nth-child(3n+4) {
            clear: left;
        }
    } // breakpoint medium
} // full to half, medium

// third - only in c-wb or l-wr
.th-all {
    width: 33.333%;
    float: left;
    padding-right: gutter(4);
    
    //@include breakpoint($smadium-ie) {
    //    width: 33.3333%;
    //} // breakpoint medium
} // full to half, medium

// full to half, smadium - only in full width divs
.fth-smad-12 {
    @include span(12);
    margin-bottom: $double-gap;
    
    @include breakpoint($smadium-ie){
        @include span(6);
    } // breakpoint smadium
} // full to half - smadium, 12 columns

.two-third {
    @include span(full);
    
    @include breakpoint($medium-ie){
        @include span(8);
    } // breakpoint medium
} // two thirds

.full-to-third {
    @include span(full nest);
    
    @include breakpoint($medium-ie) {
        @include span(4 last nest);
    } // breakpoint medium
    
    div {
        background-color: $red;
        @include span(4 of 4 last);
    } // div
} // full to third

.ten-of-ten {
    @include span(10 of 10);
}

//.half    { @include span(6); }
//.full    { @include span(full); }


////// END GRID EXAMPLES



////// GRID LAYOUTS
.container {
    @include container;
} // container

.container-xl {
    @include container($xlarge);
}

.centered-copy {
    @include span(full);

    @include breakpoint($medium-ie) {
        @include span(6);
        @include push(3);
    } //breakpoint medium
} // centered copy

.body-copy-center {
    @include old-ie { @include container(912px center); }
    @include container($copy-max center);
} // body copy center


////// END GRID LAYOUTS




////// GRID HELPER CLASSES


// LEFT CONTENT, WIDGET RIGHT; CENTERED CONTENT, WIDGETS BELOW
.l-wr, .c-wb {
    @include span(full);
    
    h1, h2, h3, h4, h5, p, .breadcrumbs, .div-holder {
        padding: 0 span(1);
    } // h1, h2, h3, p, .breadcrumbs
    
    .div-holder {
        @include container;
    }
    
    .button-link {
        margin-left: span(1);
    } // button link
    
    figure, .large-video-holder, .pagination-holder, .blog-author-inner {
        margin-left: -(gutter(12)); //-1.38889%;
        margin-right: -(gutter(12)); //-1.38889%;
        @include old-ie { margin-bottom: 16px; }
        margin-bottom: $single-gap;
    } // figure, large video holder, pagination holder, blog author inner
    
    @include breakpoint($small-ie){
        padding-left: span(1);
        padding-right: span(1);
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        
        h1, h2, h3, h4, h5, p, .breadcrumbs, .div-holder:not(.panel) {
            padding: 0;
        } // h1, h2, h3, p, .breadcrumbs
        
        .button-link {
            margin-left: 0;
        } // button link
        
        figure, .large-video-holder, .pagination-holder, .blog-author-inner {
            margin-left: 0;
            margin-right: 0;
        } // figure
    } // breakpoint small
    
    @include breakpoint($smadium){
        margin-right: gutter(12);
        margin-left: gutter(12);
        width: (100% - gutter(12) - gutter(12));
    }
    
    @include breakpoint($large) {
        padding-left: 0;
        padding-right: 0;
    } // breakpoint large
} // l wr, c wb

// END LEFT CONTENT, WIDGET RIGHT; CENTERED CONTENT, WIDGETS BELOW


// LEFT CONTENT, WIDGET RIGHT
.l-wr {
    
    @include breakpoint($large){ 
        @include span(9);
        //padding-left: span(.5);
    } // breakpoint large
    
    //@include breakpoint($xlarge){
        //@include span(9);
        //padding-left: 0;
    //} // breakpoint large
} // left content with right widget

// END LEFT CONTENT, WIDGET RIGHT


// CENTERED CONTENT, WIDGETS BELOW
.c-wb {
    
    @include breakpoint($large){
        &:not(.fw){
            @include span(10);
            @include push(1);
        }
    } // breakpoint large
    
    @include breakpoint($xlarge){
        &:not(.wide) {
            @include span(8);
            @include push(2);
        }
        
        &.wide {
            padding-left: gutter(10);
            padding-right: gutter(10);
            
            &.fw {
                padding-left: 0;
                padding-right: 0;
            }
        }
    } // breakpoint large
} // center content with bottom widget

// CENTERED CONTENT, WIDGETS BELOW


// WIDGET CONTAINER RIGHT SIDE + WIDGET CONTAINER SINGLE LINE
.w-rs, .w-sl {
    float: left;
    width: 100%;
    
    @include breakpoint($small) {
        padding-left: span(1);
        padding-right: span(1);
    } // breakpoint small
    
    @include breakpoint($medium){
        
        .section-header {
            @include span(10 of 10);
        } // section header
    } // breakpoint medium
} // widgets right side + single line

// END widgets right side + single line


// WIDGETS CONTAINER RIGHT SIDE
.w-rs {
    @include breakpoint($large) {
        padding: 0;
        @include span(3 nest last);
        
        .section-side-header h2 {
            margin-top: 0;
        } // section side header > h2
    } // breakpoint large
    
    @include breakpoint($xlarge) {
        margin-right: 0;
        margin-left: 0;
    } // breakpoint xlarge
} // widget container, right side

// END widgets container right side


// WIDGETS CONTAINER SINGLE LINE, for cross promotion
.w-sl {
    @include breakpoint($large){
        @include span(full nest);
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        
        .section-header {
            @include span(12);
        }
    } // breakpoint large
} // widgets single line holder

// WIDGETS CENTERED BELOW, WIDGETS RELATED CONTENT (NAV), HOMEPAGE
.w-cb, .w-rc, .hp {
    @include container();
    
    @include breakpoint($small-ie){
        max-width: (100% - span(2)) + gutter(6);
    } // breakpoint small
} // widget centered below, related content, homepage

// END WIDGETS CENTERED BELOW, WIDGETS RELATED CONTENT (NAV), HOMEPAGE


// WIDGETS CENTERED BELOW, WIDGETS RELATED CONTENT (NAV)
.w-cb, .w-rc {
    @include breakpoint($large){
        @include container(span(10 wide));
    } // breakpoint medium
    
    @include breakpoint($xlarge) {
        @include container(span(8 wide));
        
        &.wide {
            @include container(span(10)); // make this span(10 wide) ????
        } // wide
    } // breakpoint xlarge
} // widget centered, widget related

// END WIDGETS CENTERED BELOW, WIDGETS RELATED CONTENT (NAV)


// WIDGETS IN MAIN-COPY - FOR SUB SEC ETC
.w-ic {
    @include container();
    padding: $single-gap 0 0;
    margin-bottom: $single-gap;
    
    .w-header h3 {
        font-size: $h2;
        padding: 0;
    } // w-header h3
    
    .w-header, .list-holder {
        padding: 0 gutter(12);
    }
    
    .widget-item.ic {
        padding: 0 0 $single-gap;
        @include span(6);
        border: none !important;
        
        &:nth-child(2n+3){
            clear: both;
        } // every second child after 3rd
        
        .item-title {
            height: 32px;
            overflow: hidden;
            
            h5 {
                font-size: $widget-copy;
                line-height: $single-gap;
                font-weight: normal;
                text-transform: none;
            } // h5
        } // item title
        
        @include breakpoint($smadium) {
            @include span(4);
            
            &:nth-child(2n+3) {
                clear: none;
            } // every second child after 3rd
            
            &:nth-child(3n+4) {
                clear: both;
            } // every third child after 4th
        } // breakpoint smadium
        
        @include breakpoint($medium) {
            @include span(3);
            
            &:nth-child(3n+4) {
                clear: none;
            } // every second child after 3rd
            
            &:nth-child(4n+5) {
                clear: both;
            } // every third child after 4th
        } // breakpoint medium
    } // widget item.ic
} // w-ic

// END WIDGETS IN MAIN-COPY - FOR SUB SEC ETC


// HOMEPAGE WIDGET CONTAINER OUTER STYLES
.dk-gray, .lt-gray {
    
    .content-header .title-bkgrnd {
        
        .bkgrnd-strip {
            mix-blend-mode: initial;
            background-color: $gold;
        } // bkgrnd strip
        
        .title {
            color: $gray;
        } // title
    } // title bkgrnd
    
    @include breakpoint($medium-ie) {
    
        .content-header .title-bkgrnd {
            .bkgrnd-strip {
                mix-blend-mode: color;
                background-color: $gold;
                
                &.safari {
                    background-color: rgba($gold, 0.5);
                }
            } // bkgrnd strip

            .title {
                color: white;
            } // title
        } // title bkgrnd
    } // breakpoint medium
} // dk gray + lt-gray

.gold-bkgrnd, .section-wrapper.white {
    
    .content-header .title-bkgrnd {
        
        .bkgrnd-strip {
            mix-blend-mode: initial;
            background-color: $gray;
        } // bkgrnd strip
        
        .title {
            color: $gold;
        } // title
    } // title bkgrnd
    
    @include breakpoint($medium-ie) {
    
        .content-header .title-bkgrnd {
            .bkgrnd-strip {
                mix-blend-mode: color;
                background-color: $gold;
                
                &.safari {
                    background-color: rgba($gold, 0.5) !important;
                }
            } // bkgrnd strip

            .title {
                color: white;
            } // title
        } // title bkgrnd
    } // breakpoint medium
} // gold + white bkgrnd

// homepage widget container
.hp {
    
    &.secondary {
        border-top: $mainBorder;
        @include old-ie { padding-top: 48px; }
        padding-top: $single-gap * 3;
        
        &:first-child {
            border-top: 0;
            padding-top: $single-gap;
        }
    } // secondary
    
    @include breakpoint($smadium-ie){
        
        &.secondary {
            padding-top: 0;
            border-top: 0;
        } // secondary
    } // breakpoint smadium
    
    @include breakpoint($medium-ie) {
        max-width: 80.55556%;
    } // breakpoint medium

    @include breakpoint($large) {
        max-width: 83.33333% !important;
    } // breakpoint large
} // hp

// END homepage widget container styles




////// WIDGET STYLING

// WIDGET HOLDER - set up all defaults for widget items
.widget-holder {
    
    img {
        display: block;
        width: 100%;
        height: auto;
    } // img
    
    p {
        text-transform: none !important;
    }
    
    h3, h4, p {
        @include transition(color $hoverSpeed ease-out);
    } // h3, h4, p
    
    h4, h3 {
        @include old-ie { letter-spacing: 1px; }
        letter-spacing: $intro-space;
        padding-top: 1px;
    } // h4
    
    .widget-item img, p, .widget-item h3, .widget-item h4 {
        @include old-ie{ margin-bottom: 16px; }
        margin-bottom: $single-gap;
    } // img, p, h3, h4
    
    .il-item .item-title {
        margin-bottom: $single-gap;
    }
    
    .il-item .item-title .item-details {
        display: none;
    }
    
    @include breakpoint($smadium){
        .il-item .item-title {
            height: 60px; /* CHANGE TO 72PX WHEN INLINE MAX HEIGHT REMOVED */
            max-height: 60px; /* CHANGE TO 72PX WHEN INLINE MAX HEIGHT REMOVED */
            overflow-y: hidden;
        } // image widget title + section hub title
    } // breakpoint smadium
} // widget holder

.w-rs {
    .widget-holder {
        
        @include breakpoint($large){
            @include span(3 of 3);
        } // breakpoint large
    } // widget holder
} // widget container right side

// END widget holder


// WIDGETS - all
.widget-item, .widget-item-image, .memb-item {
    display: block;
    border-top: $mainBorder;
    @include old-ie { padding: 32px (span(1) + gutter(12)); border: 0 !important; }
    padding: $double-gap (span(1) + gutter(12));
    @include transition(all $hoverSpeed ease-out);
    
    &:first-child {
        border-top: 0;
    } // first child
    
    &:hover h4, &:hover h3 {
        color: $red;
    } // hover > h4 and h3
    
    @include breakpoint($small-ie) {
        padding-left: 0;
        padding-right: 0;
        float: left;
        width: 100%;
    } // breakpoint small
    
    @include breakpoint($smadium-ie) {
        &:not(.lrg) {
            @include span(5 of 10);

            &:nth-child(2n+3) {
                @include break;
            } // after the 3rd child every second
            
            &:first-child, &:nth-child(2) {
                border-top: 0;
            } // first & second children
        } // not large
    } // breakpoint smadium
} // widget item, widget item image, memb item
// END widgets all

// WIDGET ITEM, WIDGET ITEM IMAGE
.widget-item, .widget-item-image {
    
    p {
        font-size: $widget-copy;
    } // p
    
    .il-image {
        position: relative;

        .button-link {
            position: absolute;
            @include old-ie { bottom: 16px; left: 16px; }
            bottom: 1rem;
            left: 1rem;
        } // a
    } // image list item
    
    &:hover {
        .gray-btn {
            background-color: $red;
            color: white;
        } // gray btn
        .red-btn {
            background-color: $gray;
            color: white;
        } // red btn
        .red-btn2 {
            background-color: white;
            color: $red;
        } // red button 2
        .gold-btn {
            background-color: $gray;
            color: $gold;
        } // red btn
        .gold-btn2, .gold-btn3 {
            background-color: $red;
            color: $gold;
        } // gold button 2 + 3
    } // hover
    
    @include breakpoint($xlarge) {
        &.tc {
            @include span(4 of 8);
        } // two columns
    } // breakpointn xlarge
} // widget item

.item-details {
    text-transform: uppercase;
    @include old-ie { margin-bottom: 16px; }
    margin-bottom: $single-gap;
} // item details

.widget-item {
    
    .date, .times, .category {
        font-style: italic;
    } // date + times
    
    .times {
        text-transform: none;
    } // times
    
    .price {
        font-weight: bold;
    } // price
} // widget item

.w-rc {
    @include breakpoint($xlarge){
        
        .widget-item, .widget-item-image {
            @include span(4 of 8);
        } // widget item, widget item image
    } // breakpoint xlarge
} // related content widget container

.w-rs {
    @include breakpoint($large){
        
        .widget-item, .widget-item-image {
            border-top: $mainBorder;
            width: 100%; // !important; /* REMOVE WHEN WIDGET IS AMENDED */
            margin-left: 0; // !important; /* REMOVE WHEN WIDGET IS AMENDED */
            margin-right: 0; // !important; /* REMOVE WHEN WIDGET IS AMENDED */
            
            &:first-child {
                border-top: 0;
            } // first child
            
            &:nth-child(2) {
                border-top: $mainBorder;
            } // second child
            
            &.il-item .item-title {
                height: auto;
                max-height: none;
                overflow-y: auto;
                @include old-ie { margin-bottom: 16px; }
                margin-bottom: $single-gap;
            } // image widget title
        } // widget item
    } // breakpoint large
} // widget holder right side

// CROSS PROMOTION WIDGETS - SINGLE LINE
.w-sl {
    @include breakpoint($large) {
        
        .widget-item, .widget-item-image {
            @include span(3);
            border-top: 0;
            
            &:nth-child(2n+3) {
                clear: none;
            } // 3rd and every 2nd after
        } // widget item, widget item image
    } // breakpoint large
} // widgets single line holder

// HOMEPAGE DK GRAY BKGRND, WIDGET STYLES
// homepage widget holder
.hp {
    
    .widget-item {
        border-top: 0 !important;
        
        &.sml:first-child {
            padding-top: 0;
        } // first child
        
        img {
            min-height: 250px;
        } // img: min-height for lazy load
    } // widget item first child
    
    @include breakpoint($small){
        .widget-item img {
            min-height: 400px;
        } // img: min-height for lazy load
    } // breakpoint small
    
    @include breakpoint($smadium-ie){
        
        .widget-item {
            
            &.lrg {
                @include span(10 of 10);
                
                img {
                    min-height: 490px;
                } // img: min-height for lazy load
                
                &:nth-child(2){
                    border-top: $mainBorder;
                } // nth child
            } // large
            
            &:first-child {
                @include old-ie { padding-top: 32px; }
                padding-top: $double-gap;
            } // first child
            
            &.sml {
                
                img {
                    min-height: 230px;
                } // img: min-height for lazy load
                
                &:nth-child(2) {
                    padding-top: 0;
                } // 2nd child
            } // sml
        } // widget item
    } // breakpoint smadium
    
    @include breakpoint($medium-ie) {
        
        .widget-item {
            
            &.lrg {
                @include span(5 of 10);
                
                img {
                    min-height: 280px;
                } // img: min-height for lazy load
            } // widget item large
        
            &.sml {
                padding-top: 0;
                @include span(2.5 of 10);

                &:nth-child(2n+3) {
                    clear: none;
                } // 3rd then every 2nd
                
                img {
                    min-height: 130px;
                } // img: min-height for lazy load
            } // sml
        } // widget item
    } // breakpoint medium
    
    @include breakpoint($large) {
        
        .widget-item {
            
            &.lrg img {
                min-height: 370px;
            } // widget item large > img: min-height for lazy load
        
            &.sml img {
                min-height: 170px;
            } // sml > img: min-height for lazy load
        } // widget item
    } // breakpoint large
    
    @include breakpoint($xlarge) {
        
        .widget-item {
            
            &.lrg img {
                min-height: 530px;
            } // widget item large > img: min-height for lazy load
        
            &.sml img {
                min-height: 240px;
            } // sml > img: min-height for lazy load
        } // widget item
    } // breakpoint large
} // hp

// homepage dk gray background
.dk-gray {
    
    .widget-item, .widget-item-image {
        
        h3, h4, .il-title h4, p {
            color: $lightergray !important;
        } // h3, h4, .il-title h4, p
        
        &:hover {
            .gold-btn {
                background-color: $red;
                color: $gold;
            } // gold button
        } // hover
    } // all widget items
} // dark gray
// end homepage widget styles

// END widget item, widget item image


// WIDGET ITEM small for homepage, copy resizing
.widget-item.sml {
    
    h4 {
        font-size: $widget-copy;
    } // h4

    p, .button-link {
        font-size: $font-small;
    } // p + button link
} // widget item small

// END widget item small


// MEMBERSHIP ITEM
.memb-item.tc {
    
    .button-link:first-of-type {
        @include old-ie { margin-bottom: 16px; margin-right: 16px; }
        margin-bottom: 16px;
        margin-right: 16px;
    } // button link
    
    ul.memb-benefits {
        list-style: disc;
        @include old-ie { padding: 4px 16px 0; }
        padding: 4px $single-gap 0;

        li {
            @include old-ie { margin-bottom: 16px; }
            margin-bottom: $single-gap;
            line-height: 1.2em;
        } // li

        &:nth-child(2) {
            @include old-ie { margin-top: 16px; }
            margin-top: $single-gap;
        } // when it's below an intro
    } //member benefits list
    
    @include breakpoint($smadium-ie) {
        
        .price {
            height: $single-gap * 3;
        }
        
        .item-copy {
            position: relative;
            height: 573px;
            //height: 415px;
        } // item-copy
        
        .memb-links {
            position: absolute;
            bottom: 0;
        } // links bottom
        
        .button-link {
            float: left;
        } // button link
    } //  breakpoint smadium

    @include breakpoint($medium-ie) {
        
        //width: 29.99967% !important;
        @include span(3.3333 of 10);
        
        &:nth-child(3){
            border-top: 0;
        } // 3rd child
        
        &:nth-child(2n+3) {
            clear: none !important;
        } // after the 3rd child every 2nd

        &:nth-child(3n+4) {
            clear: both !important;
        } // after the 4th child every 3rd
        
        .item-copy {
            height: 592px;
            //height: 450px;
        } // item copy
        
        .button-link:nth-of-type(2) {
            clear: both;
        } // button link
    } // breakpoint medium

    @include breakpoint($large) {
        
        .item-copy {
            height: 545px;
            //height: 415px;
        } // item copy
        
        .button-link:nth-of-type(2) {
            clear: none;
        } // button link
    } // breakpoint large

    @include breakpoint($xlarge) {
        
        @include span(2.66 of 8);
        
        .item-copy {
            height: 426px;
            //height: 343px;
        } // item copy
    } // breakpoint xlarge
} // memb item

// END membership item


// WIDGET LINK STYLING RESETS
a.widget-item, a.widget-item-image {
    color: $gray;
    
    p, li {
        color: $gray;
    } // p
} // widget item links

// END widget link styling resets

// OPENING TIMES WIDGET
.otimes {
    @include container;
    border-top: $mainBorder;
    
    .widget-item {
        border: 0 !important;
        @include breakpoint($smadium-ie){
            @include span(5 of 10);

            &:nth-child(2n+3) {
                @include break;
            } // after the 3rd child every second
        } // breakpoint smadium
    } // widget item
} // otimes > widget item

// END OPENING TIMES WIDGET


// FLEXBOX LIST
.fh-list {
    @include old-ie { display: block; }
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    
    .fh-list-item {
        @include old-ie { display: inline-block; padding-right: 32px; }
        
        width: span(6);
        text-transform: uppercase;
        margin-bottom: $single-gap;
        border-right: $mainBorder;
        padding-right: $single-gap;
        
        &:nth-child(2n) {
            border-right: none;
        } // 2nd+ child
    } // fh list item
        
    @include breakpoint($smadium){
        .fh-list-item {
            width: span(3);
            
            &:nth-child(2n) {
                border-right: $mainBorder;
            } // 2nd+ child
        
            &:last-child {
                border-right: none;
            } // last child
        } // fh list item
    } // breakpoint smadium
    
    @include breakpoint($large) {
        @include justify-content(flex-start);
        
        .fh-list-item {
            width: auto;
            margin-right: $double-gap;
            padding-right: $double-gap;
            
            &:last-child {
                margin-right: 0;
                padding-right: 0;
            } // last child
        } // fh list item
    } // breakpoint large
} // fh list

// END FLEXBOX LIST


// END GRID HELPER CLASSES