/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license    */

/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/

// PhotoSwipe uses Autoprefixer, so vendor prefixed are added automatically when needed.

$pswp__show-hide-transition-duration: 333ms !default;
$pswp__controls-transition-duration: 333ms !default;
$pswp__background-color: $gray !default;
$pswp__placeholder-color: #222 !default;
$pswp__box-sizing-border-box: false !default; // disable .pswp * { box-sizing:border-box } (in case you already have it in your site css)
$pswp__root-z-index: 1500 !default;
$pswp__assets-path: '../img/pswp/' !default; // path to skin assets folder (preloader, PNG and SVG sprite)
$pswp__error-text-color: #CCC !default; // "Image not loaded" text color
$pswp__include-minimal-style: true !default;
$pswp__include-video-style: true !default;

 
/* pswp = photoswipe */
.pswp {
	display: none;
	position:absolute;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	z-index: $pswp__root-z-index;
	-webkit-text-size-adjust: 100%;
	/* create separate layer, to avoid paint on window.onscroll in webkit/blink */
	-webkit-backface-visibility: hidden;
	outline: none;

	@if $pswp__box-sizing-border-box == true {
		* {
			box-sizing: border-box;
		}
	}
	
	img {
		max-width: none;
	}
}

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
	/* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
	opacity: 0.001;
	will-change:opacity;
	/* for open/close transition */
	transition: opacity $pswp__show-hide-transition-duration cubic-bezier(.4,0,.22,1);
}

.pswp--open {
	display: block;
}

.pswp--zoom-allowed .pswp__img {
	/* autoprefixer: off */
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}

.pswp--zoomed-in .pswp__img {
	/* autoprefixer: off */
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

.pswp--dragging  .pswp__img {
	/* autoprefixer: off */
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: $pswp__background-color;
	opacity: 0;
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	will-change:opacity;
}

.pswp__scroll-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow:hidden;
}

.pswp__container,
.pswp__zoom-wrap {
	-ms-touch-action: none; 
	touch-action: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
}

.pswp__zoom-wrap {
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	/* for open/close transition */
	transition: transform $pswp__show-hide-transition-duration cubic-bezier(.4,0,.22,1);
}

.pswp__bg {
	will-change: opacity;
	/* for open/close transition */
	transition: opacity $pswp__show-hide-transition-duration cubic-bezier(.4,0,.22,1);
}

.pswp--animated-in {
	.pswp__bg,
	.pswp__zoom-wrap {
		-webkit-transition: none;
		transition: none;
	}
}

.pswp__container,
.pswp__zoom-wrap {
	-webkit-backface-visibility: hidden;
}

.pswp__item {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.pswp__img {
	position: absolute;
	width: auto;
	height: auto;
	top: 0;
	left: 0;
}

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
	-webkit-backface-visibility: hidden;
}

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
	background: $pswp__placeholder-color;
}

.pswp--ie .pswp__img {
	width: 100% !important;
	height: auto !important;
	left: 0;
	top: 0;
}

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	margin-top: -8px;
	color: $pswp__error-text-color;
}

.pswp__error-msg a {
	color: $pswp__error-text-color;
	text-decoration: underline;
}


/*! PhotoSwipe RSC template UI CSS by Andrew O'Regan

    based on:

    PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license 
    
    */

/*

	Contents:

	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/

// PhotoSwipe uses Autoprefixer, so vendor prefixed are added automatically when needed.


/*
	
	1. Buttons

 */

/* <button> css reset */
.pswp__button {
	position: relative;
	background: none;
	cursor: pointer;
	overflow: visible;
	-webkit-appearance: none;
	display: block;
	float: right;
	box-shadow: none;
	border: 0;

	&::-moz-focus-inner {
		padding: 0;
		border: 0
	}
}
.pswp__button:not(.button-link){
    @include old-ie { width:32px; height: 32px; }
	width: $double-gap;
	height: $double-gap;
	padding: 0;
	margin: 0;
	opacity: 0.75;
	@include transition(opacity 0.2s);

	&:focus,
	&:hover {
		opacity: 1;
	}
	
	&:active {
		outline: none;
		opacity: 0.9;
	}
    
    &.pswp__button--zoom {
        background-color: $red;
    }
}

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
	opacity: 1;
}

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    color: $gray;
	background: url(#{$pswp__assets-path}default-skin.png) 0 0 no-repeat;
	background-size: 264px 88px;
}

@media (-webkit-min-device-pixel-ratio: 1.1),  (min-resolution: 105dpi), (min-resolution: 1.1dppx) {

	/* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
    .pswp--svg .pswp__button,
    .pswp--svg .pswp__button--arrow--left:before,
	.pswp--svg .pswp__button--arrow--right:before {
        background-image: url(#{$pswp__assets-path}default-skin.svg);
    }

    .pswp--svg .pswp__button--arrow--left,
	.pswp--svg .pswp__button--arrow--right {
		background: none;
	}
}

.pswp__button--close {
    background-image: none !important;
    height: auto;
    width: auto;
    margin: $single-gap/2 0;
    opacity: 1 !important;
    float: right;
}

//.pswp__button--share {
//	background-position: -44px -44px;
//}

.pswp__button--fs {
	display: none;
}

.pswp--supports-fs .pswp__button--fs {
	display: block;
}

.pswp--fs .pswp__button--fs {
	background-position: -44px 0;
}

.pswp__button--zoom {
	display: none;
	background-position: -93px -6px;
    position: absolute;
    left: gutter(12);
    top: $double-gap*1.5;
    background-color: $red;
}

.pswp--zoom-allowed .pswp__button--zoom {
	display: block;
}

.pswp--zoomed-in .pswp__button--zoom {
	background-position: -137px -6px;
}

/* no arrows on touch screens */
.pswp--touch {
	.pswp__button--arrow--left,
	.pswp__button--arrow--right {
		visibility: hidden;		
	}
}

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
	background: none;
	top: 50%;
	margin-top: -50px;
	width: 70px;
	height: 100px;
	position: absolute;
}

.pswp__button--arrow--left {
	left: 0;
    
    @include breakpoint($small) {
        left: gutter(12);
    }
}

.pswp__button--arrow--right {
	right: 0;
    
    @include breakpoint($small) {
        right: gutter(12);
    }
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
	content: '';
	top: 0;
	background-color: $red;
	height: 32px;
	width: 32px;
	position: absolute;
}

.pswp__button--arrow--left:before {
	left: 0;
	background-position: -138px -44px;
}

.pswp__button--arrow--right:before {
	right: 0;
	background-position: -94px -44px;
}


/*

	2. Share modal/popup and links

 */

.pswp__counter,
.pswp__share-modal {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

//.pswp__share-modal {
//	display: block;
//	background: rgba(0, 0, 0, 0.5);
//	width: 100%;
//	height: 100%;
//	top: 0;
//	left: 0;
//	padding: 10px;
//	position: absolute;
//	z-index: $pswp__root-z-index + 100;
//	opacity: 0;
//	transition: opacity 0.25s ease-out;
//	-webkit-backface-visibility: hidden;
//	will-change: opacity;
//}
//
//.pswp__share-modal--hidden {
//	display: none;
//}

//.pswp__share-tooltip {
//	z-index: $pswp__root-z-index + 120;
//	position: absolute;
//	background: #FFF;
//	top: 56px;
//	border-radius: 2px;
//	display: block;
//	width: auto;
//	right: 44px;
//	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
//	transform: translateY(6px);
//	transition: transform 0.25s;
//	-webkit-backface-visibility: hidden;
//	will-change: transform;
//
//	a {
//		display: block;
//		padding: 8px 12px;
//		color: #000;
//		text-decoration: none;
//		font-size: 14px;
//		line-height: 18px;
//
//		&:hover {
//			text-decoration: none;
//			color: #000;
//		}
//
//		
//		&:first-child {
//			/* round corners on the first/last list item */
//			border-radius: 2px 2px 0 0;
//		}
//		
//		&:last-child {
//			border-radius: 0 0 2px 2px;
//		}
//	}
//}
//
//.pswp__share-modal--fade-in {
//	opacity: 1;
//
//	.pswp__share-tooltip {
//		transform: translateY(0);
//	}
//}

///* increase size of share links on touch devices */
//.pswp--touch .pswp__share-tooltip a {
//	padding: 16px 12px;
//}

//a.pswp__share--facebook {
//	&:before {
//		content: '';
//		display: block;
//		width: 0;
//		height: 0;
//		position: absolute;
//		top: -12px;
//		right: 15px;
//		border: 6px solid rgba(0, 0, 0, 0);
//		border-bottom-color: #FFF;
//		-webkit-pointer-events: none;
//		-moz-pointer-events: none;
//		pointer-events: none;
//	}
//
//	&:hover {
//		background: #3E5C9A;
//		color: #FFF;
//
//		&:before {
//			border-bottom-color: #3E5C9A;
//		}
//	}
//}
//
//a.pswp__share--twitter {
//	&:hover {
//		background: #55ACEE;
//		color: #FFF;
//	}
//}
//
//a.pswp__share--pinterest {
//	&:hover {
//		background: #CCC;
//		color: #CE272D;
//	}
//}
//
//a.pswp__share--download {
//	&:hover {
//		background: #DDD;
//	}
//}


/*

	3. Index indicator ("1 of X" counter) + Caption Toggle

 */

.pswp_caption-header {
    height: 24px;
}

.pswp__counter, .pswp__caption-tog {
	position: absolute;
	top: -24px;
    height: 24px;
    padding-top: $single-gap/4;
}

.pswp__counter {
    -webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
    
	right: 5.5rem;
	background-color: rgba($lightergray, 0.9);
    color: $gray;
	padding-left: $single-gap/2;
	padding-right: $single-gap/2;
}

.pswp__caption-tog {
    right: $single-gap/2;
    border-left: $lightBorder;
    border-top: $lightBorder;
    border-right: $lightBorder;
    border-bottom: $mainBorder;
    background-color: rgba($gray, 0.8);
    color: $lightergray;
    width: 4.5rem;
    z-index: 1;
    cursor: pointer;
    
    svg {
        fill: $lightergray;
        @include transform(rotateZ(0deg));
        @include transition(transform $hoverSpeed ease-out);
    }
    
    span {
        display: inline-block;
        margin-right: 8px;
        position: relative;
        width: 30px;
        
        &:before {
            content: "SHOW";
            display: none;
            position: absolute;
            left: 50%;
            margin-left: -15px;
        }
    }
}


/*
	
	4. Caption, Bottom Bar & Thumbnails
    
 */

.pswp__caption {
	position: absolute;
	left: 0;
	bottom: 34px;
	width: 100%;
	min-height: 44px;
    @include transition(min-height $hoverSpeed ease-out);
    border-top: $lightBorder;
	
	small {
		font-size: 11px;
		color: #BBB;
	}
    
    &.pswp__hide {
        height: 1px;
        min-height: 0;
        
        .pswp__caption-tog {
            span {
                color: $gray;
                
                &:before {
                    color: $lightergray;
                    display: block;
                }
            }
            svg {
                @include transform(rotateZ(180deg));
            }
        }
        
        .pswp__caption__center {
            min-height: 0;
            height: 0;
            padding: 0;
            overflow: hidden;
            opacity: 0;
        }
    }
    
    p {
        margin-bottom: $single-gap;
    }
}

.pswp__caption-header {
    @include container($xlarge);
    position: relative;
}

.pswp__caption__center {
	text-align: left;
	margin: 0 auto;
	font-size: $font-small;
	padding: 10px;
	color: white;
    min-height: 44px;
}

.pswp__caption--empty {
	display: none;
}

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
	visibility: hidden;
}

.pswp__bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba($gray, 0.8);
}

.pswp__bottom-bar__inner {
    height: 34px;
    @include display-flex;
    @include align-items(center);
    @include justify-content(space-between);
    padding: 0 gutter(12);
}

.pswp__top-bar, .pswp__caption__center, .pswp__bottom-bar__inner, .pswp__thumbs-container_inner {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    
    @include breakpoint($smadium) {
        padding-left: span(1) + gutter(6);
        padding-right: span(1) + gutter(6);
    }
    
    @include breakpoint($large) {
        padding-left: span(2) + gutter(6);
        padding-right: span(2) + gutter(6);
    }
}

.pswp__thumbs-container {
    position: absolute;
    bottom: 34px; //-100px;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba($gray, 0.8);
    -webkit-backface-visibility: hidden; 
	will-change: opacity;
    @include transition(top $pswp__controls-transition-duration cubic-bezier(.4,0,.22,1), opacity $pswp__controls-transition-duration cubic-bezier(.4,0,.22,1));
    
    &.pswp__active {
        top: 44px;
        opacity: 1;
        
        .pswp__thumbs-container_inner {
            //@include animation(tc_i_add 0.3s ease-out 0.4s 1 normal forwards);
            left: 0;
            
            @include breakpoint($xlarge) {
                left: 50%;
                margin-left: -720px;
            }
        }
    }
    
    @include breakpoint($smadium) {
        padding: 10px (span(1) + gutter(6));
    }
}

.pswp__thumbs-container_inner {
    background-color: $gray;
    padding-top: $single-gap;
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 100%;
    @include transition(left $quickSpeed ease-out);
    
    .thumb-control-outer {
        height: 70px;
        text-align: center;
        margin-bottom: $single-gap;
        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        
        &.active img {
            border: 2px solid $gold;
        }
    }
    
    img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
    }
    
    @include breakpoint($xlarge) {
        background-color: rgba($gray, 0.8);
    }
}


/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */

.pswp__preloader {
	//width: 44px;
	//height: 44px;
    position: relative;
    left: auto;
    top: auto;
    margin: 0 0 0 0.5rem;
    float: left;
	opacity: 0;
	transition: opacity 0.25s ease-out; 
	will-change: opacity;
	direction: ltr;
    
    @include breakpoint($large) {
        //position: absolute;
        //top: 0;
        //left: 50%;
    }
}

.pswp__preloader__icn {
	width: 20px;
	height: 20px;
	margin: 12px;
}

.pswp__preloader--active {
	//opacity: 1;

	.pswp__preloader__icn {
		/* We use .gif in browsers that don't support CSS animation */
		background: url(#{$pswp__assets-path}preloader.gif) 0 0 no-repeat;
	}
}

.pswp--css_animation {
	.pswp__preloader--active {
		opacity: 1;

		.pswp__preloader__icn {
			animation: clockwise 500ms linear infinite;
		}

		.pswp__preloader__donut {
			animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
		}
	}
	
	.pswp__preloader__icn {
		background: none;
		opacity: 0.75;
		width: 14px;
		height: 14px;
		position: absolute;
		left: 15px;
		top: 12px;
		margin: 0;
	}

	
	.pswp__preloader__cut {
		/* 
			The idea of animating inner circle is based on Polymer ("material") loading indicator 
			 by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
		*/
		position: relative;
		width: 7px;
		height: 14px;
		overflow: hidden;
	}

	.pswp__preloader__donut {
		box-sizing: border-box;
		width: 14px;
		height: 14px;
		border: 2px solid #FFF;
		border-radius: 50%;
		border-left-color: transparent;
		border-bottom-color: transparent;
		position: absolute;
		top: 0;
		left: 0;
		background: none;
		margin: 0;
	}
}

@keyframes clockwise {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

@keyframes donut-rotate {
  0% { transform: rotate(0) }
  50% { transform: rotate(-140deg) }
  100% { transform: rotate(0) }
}


/*
	
	6. Additional styles

 */

/* root element of UI */
.pswp__ui {
	-webkit-font-smoothing: auto;
	visibility: visible;
	opacity: 1;
	z-index: $pswp__root-z-index + 50;
}

/* top bar with close button, spinner + zooms */
.pswp__top-bar {
	position: absolute;
	left: 0;
	top: 0;
	height: 44px;
	width: 100%;
    padding: 0 gutter(12);
    
    @include breakpoint($xlarge){
        left: 50%;
        margin-left: -720px;
    }
}

.pswp__gallery-title {
    color: white;
    width: 62%;
    float: left;
    @include old-ie { padding: 8px; }
    padding: 0.5rem 0;
}

.pswp__caption,
.pswp__top-bar,
.pswp__bottom-bar,
.pswp__caption,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
	-webkit-backface-visibility: hidden; 
	will-change: opacity;
	transition: opacity $pswp__controls-transition-duration cubic-bezier(.4,0,.22,1);
}

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse {
	.pswp__button--arrow--left,
	.pswp__button--arrow--right {
		visibility: visible;
	}
}

.pswp__top-bar,
.pswp__caption {
	background-color: rgba($gray,0.8);
}

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit {
	.pswp__top-bar,
	.pswp__caption {
		background-color: rgba($gray,0.8);
	}
}

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
	
.pswp__ui--idle {
	.pswp__top-bar, .pswp__caption, .pswp__bottom-bar { 
		opacity: 0; 
	}

	.pswp__button--arrow--left,
	.pswp__button--arrow--right {
		opacity: 0;
	}
}

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden {
	.pswp__top-bar,
	.pswp__caption,
    .pswp__bottom-bar,
    .pswp__thumbs-container,
	.pswp__button--arrow--left,
	.pswp__button--arrow--right {
		/* Force paint & create composition layer for controls. */
		opacity: 0.001; 
	}
}

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide {
	.pswp__button--arrow--left,
	.pswp__button--arrow--right,
	.pswp__counter {
		display: none;
	}
}

.pswp__element--disabled {
	display: none !important;
}

@if $pswp__include-minimal-style == true {
	.pswp--minimal--dark {
		.pswp__top-bar {
			background: none;
		}
	}
}


@if $pswp__include-video-style == true {
	.pswp__video-container {
		position: absolute;
		background: #000;

		iframe {
			width: 100%;
			height: 100%;
			max-width: none;
		}
	}
}

@if $pswp__include-video-style == true {
	// Always display arrows if the current slide has video,
	// touch events are blocked over the iframe, 
	// so it's the only reliable way to navigate
	.pswp--video-active {
		.pswp__button--arrow--left,
		.pswp__button--arrow--right {
			display: block;
			visibility: visible;
		}
	}
}