@include breakpoint($small){
    body {
        background-color: white;
    }
}
@include breakpoint($smadium){
    body {
        background-color: white;
    }
}
@include breakpoint($medium){
    body {
        background-color: white;
    }
}
@include breakpoint($large){
    body {
        background-color: white;
    }
}
@include breakpoint($xlarge){
    body {
        background-color: white;
    }
}
////// GREEDY NAV
.greedy-nav-outer {
    background: $lightergray;
} // greedy nav outer

.greedy-nav-holder {
    @include container($xlarge);
}

.greedy-nav {
    position: relative;
    min-width: 250px;
    margin: 0 auto;
    max-width: $xlarge;
    
    a, button {
        font-size: $font-small;
    }
    
    a {
        display: block;
        @include old-ie { padding: 16px 32px; }
        padding: $single-gap ($single-gap * 1.5);
        background: $lightergray;
        color: $gray;
        text-decoration: none;
        
        &:hover {
            color: #fff;
            background: $gray;
        } // hover
    } // a
    
    button {
        position: absolute;
        height: 100%;
        right: 0;
        padding: 0 15px;
        border: 0;
        background-color: $lightergray;
        color: $gray;
        cursor: pointer;
        
        &:hover {
            color: #fff;
            background: $gray;
        } // hover
        
        &::after {
            position: absolute;
            width: 30px;
            height: 30px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            line-height: 28px;
            font-weight: bold;
        } // after
    } // button
    
    .visible-links {
        display: inline-table;
        
        li {
            display: table-cell;
        } // li
    } // visible links
    
    .hidden-links {
        position: absolute;
        right: 0px;
        top: 100%;
        z-index: 90;
        
        li {
            display: block;
            border-top: 0px; //solid #f57c00;
        } // li
    } // hidden links
    
    .hidden {
        visibility: hidden;
    } // hidden
    
    @include breakpoint($large) {
        a, button {
            font-size: $widget-copy;
        }
    }
} // greedy-nav

////// END greedy nav




////// SHOP PAGE ARTICLE INITIAL LAYOUT
.shop-page {
    
    p {
        font-size: $widget-copy;
    } // p
    
    header {
        @include old-ie { margin-bottom: 32px; }
        margin-bottom: 2rem;
        background-color: white;
    } // header
    
    .base-header {
        background-color: white;
        @include container($xlarge);
    } // base header
    
    .button-link {
        font-size: $font-small;
    //    @include old-ie { padding: 8px 11px 6px; }
    //    padding: 0.5rem 0.7rem 0.4rem;
    } // button link
    
    .breadcrumbs {
        @include old-ie { margin-bottom: 16px; }
        margin-bottom: $single-gap;
    } // breadcrumbs
} // shop page

.shop-home {
    
    h1 {
        font-size: $h1 !important;
    } // h1
    
    .shop-header {
        @include old-ie { padding: 8px gutter(12); }
        padding: $single-gap/2 gutter(12);
        margin-bottom: 0;
        @include container($xlarge);
    } // shop header
    
    .hero-intro {
        margin-top: 0;
        
        p {
            font-weight: normal;
            text-transform: none;
            margin-bottom: 0;
        } // p
        
        .button-link {
            font-weight: normal;
            margin-left: gutter(12);
            margin-right: gutter(12);
            @include old-ie { margin-top: 16px; }
            margin-top: $single-gap;
        } // button link
        
        @include breakpoint($medium-ie) {
            
            .button-link {
                font-size: $widget-copy;
            } // button link
        } // breakpoint medium
        
        //@include breakpoint($large) {
            //margin-bottom: 2.5rem;
        //} // breakpoint large
    } // hero intro
    
    .listing-container {
        @include old-ie { margin-bottom: 24px; }
        margin-bottom: $single-gap * 1.5;
    }
} // shop home

.gold-btn {
    
    svg {
        fill: $gray;
        @include transition(fill $hoverSpeed ease-out);
    } // svg
    
    &:hover svg {
        fill: $gold;
        @include transition(fill $quickSpeed ease-out);
    } // hover > svg
} // gold btn

.gray-btn {
    
    svg {
        fill: $gold;
        @include transition(fill $hoverSpeed ease-out);
    } // svg
    
    &:hover svg {
        fill: white;
        @include transition(fill $quickSpeed ease-out);
    } // hover > svg
} // gray btn

.shop-dept {
    
    header {
        margin-bottom: 0;
    } // header
    
    .base-header {
        @include old-ie { padding: 32px gutter(12) 0; }
        padding: $double-gap gutter(12) 0;
        margin: 0;
    } // shop header
} // shop dept

.shop-cat, .shop-details {
    
    header, section {
        padding: 0 span(1);
    } // header, section
    
    .base-header {
        @include span(10 of 10);
    } // base header
    
    @include breakpoint($small-ie) {
        .listing-container h2 {
            margin-right: gutter(10);
            margin-left: gutter(10);
        } // listing-container > h2
    } // breakpoint small
    
    .half, .third {
        @include span(10 of 10);
    } // half, third
    
    .quarter {
        @include span(5 of 10);

        &:nth-of-type(2n + 3) {
            clear: both;
        } // nth of type, 2n + 3
    } // quarter
    
    @include breakpoint($smadium-ie) {
        
        .half {
            @include span(5 of 10);
        } // half
        
        .third {
            @include span(5 of 10);
            
            &:nth-of-type(2n + 3) {
                clear: both;
            }
        } // third
        
        .quarter {
            @include span(3.3333 of 10);
            
            &:nth-of-type(2n + 3) {
                clear: none;
            }
            
            &:nth-of-type(3n + 4) {
                clear: both;
            }
        } // quarter
    } // breakpoint smadium
    
    @include breakpoint($medium-ie) {
        
        .third {
            @include span(3.3333 of 10);
            
            &:nth-of-type(2n + 3) {
                clear: none;
            }
            
            &:nth-of-type(3n + 4) {
                clear: both;
            }
        } // third
        
        .quarter {
            @include span(2.5 of 10);
            
            &:nth-of-type(3n + 4) {
                clear: none;
            }
            
            &:nth-of-type(4n + 5) {
                clear: both;
            }
        } // quarter
    } // breakpoint medium
} // shop-cat, shop-dept, shop-details

.shop-basket {
    
    //header {
        //padding: 0 span(1);
    //} // header
} // shop basket

////// END shop page article initial layout




////// SHOP HEADER
.shop-header-outer {
    background-color: white;
} // shop header outer

.shop-header {
    text-align: right;
    @include old-ie { margin-bottom: 32px; }
    margin-bottom: $double-gap;
    
    a {
        @include old-ie { padding: 6px 32px 0 0; }
        padding: 6px $double-gap 0 0;
        float: left;
        
        @include breakpoint($small-ie) {
            float: none;
        } // breakpoint small
        
        span {
            color: $gray;
            display: none;
            
            @include breakpoint($smadium-ie) {
                display: inline;
            } // breakpoint smadium
        } // span
    } // a
    
    input {
        width: 50%;
        max-width: 200px;
        padding: 5px 35px 5px 0;
    } // input
    
    span a {
        margin-left: -30px;
        padding-right: 5px;
        color: $gray;
        float: none;
        
        &:hover {
            color: $red;
        } // hover
    } // span
} // shop header

////// END shop header




////// PRODUCT CONTAINER + ELEMENTS
.product-container {
    @include old-ie { margin-bottom: 32px; }
    margin-bottom: $double-gap;
}

.product-image {
    display: inline-block;
    max-width: 100%;
} // product image

.product-title, .category-title {
    color: $gray;
    @include old-ie { padding-bottom: 8px; }
    padding-bottom: $single-gap/2;
    text-transform: uppercase;
} // product title, category title

.product-title {
    font-weight: bold;
    
    @include breakpoint($small-ie) {
        float: left;
        width: 75%;
    } // breakpoint small
} // product title

.category-title {
    @include old-ie { margin-bottom: 16px; }
    margin-bottom: $single-gap;
} // category title

// PRODUCT IMAGE HOLDER
.third .product-image-holder {
    height: auto;
    
    @include breakpoint($small) {
        height: 220px;
    } // breakpoint small
    
    @include breakpoint($large) {
        height: 340px;
    } // breakpoint large
    
    @include breakpoint($xlarge) {
        height: 418px;
    } // breakpoint xlarge
} // third > product image holder

.quarter .product-image-holder {
    height: 135px;
    
    @include breakpoint($small) {
        height: 200px;
    } // breakpoint small
    
    @include breakpoint($smadium) {
        height: 170px;
    } // breakpoint smadium
    
    @include breakpoint($medium) {
        height: 165px;
    } // breakpoint medium
    
    @include breakpoint($large) {
        height: 200px;
    } // breakpoint large
    
    @include breakpoint($xlarge) {
        height: 265px;
    } // breakpoint xlarge
} // quarter > product image holder

// end PRODUCT IMAGE HOLDER

.product-image-holder {
    text-align: center;
    
    .product-image {
        max-height: 100%;
    } // product image
} // product image holder

.product-images {
    height: 100%;
    position: relative;
    
    @include breakpoint($medium){
        float: left;
        width: 30%;
    } // breakpoint medium
} // product images

.product-image-thumbnails {
    @include old-ie { margin-top: 16px; }
    margin-top: $single-gap;
    text-align: center;
} // product image thumbnails

.thumbnail {
    max-width: 70px;
    max-height: 70px;
    cursor: pointer;
} // thumbnail

.product-details {
    @include old-ie { padding-top: 16px; }
    padding-top: $single-gap;
} // product details

.product-price {
    color: $red;
    float: right;
    font-weight: bold;
} // product price

.product-description {
    padding-top: 5px;
    color: $gray;
    clear: both;
    @include old-ie { margin-bottom: 16px; }
    margin-bottom: $single-gap;
} // product description

// call to action in product pages
.cta {
    position: relative;
    border-top: $lightBorder;
    @include old-ie { margin-top: 24px; }
    margin-top: $single-gap * 1.5;
    
    p {
        font-size: $widget-copy;
        @include old-ie { margin-bottom: 8px; }
        margin-bottom: $single-gap/2;
    } // p
    
    .quantity {
        @include old-ie { padding: 16px 0; }
        padding: $single-gap 0;
        border-top: $lightBorder;
        border-bottom: $lightBorder;
        
        select {
            padding: 0 5px;
        } // select
    } // quantity
    
    @include breakpoint($medium-ie) {
        float: right;
        width: 18%;
        height: 100%;
        padding-left: 1%;
        margin-top: 0;
        border-top: 0;
        @include old-ie { padding-bottom: 32px; }
        padding-bottom: $double-gap;
        
        .product-price {
            margin-top: 0;
        }
    } // breakpoint medium
} // cta

////// END product container + elements




////// HERO CONTAINERS
.hero-container, .hero-container-1, .hero-container-2 {
    @include old-ie { margin-bottom: 64px; }
    margin-bottom: $double-gap * 2;
} // hero container, hero container 2

.hero-container-1 {
    
    .product-container {
        @include span(10 of 10);
    } // product container
    
    .product-images {
        text-align: center;
    }
    
    .product-image {
        margin-left: auto;
        margin-right: auto;
        max-height: 340px;
        width: auto;
    } // product image
    
    .product-price {
        @include old-ie { margin: 32px 0 16px; }
        margin: $double-gap 0 $single-gap;
        float: none;
    } // product price
    
    .product-details {
        width: 100%;
        height: 100%;
        @include old-ie { margin-top: 16px; }
        margin-top: $single-gap;
    } // product details
    
    .offer-panel {
        @include old-ie { padding: 16px; }
        padding: $single-gap;
        @include old-ie { margin: 16px 0; }
        margin: $single-gap 0;
        background: $lightergray;
        
        .offer {
            @include old-ie { padding: 8px 0; }
            padding: $single-gap/2 0;
        } // offer
    } // offer panel
    
    @include breakpoint($medium-ie) {
        
        .product-price {
            @include old-ie { margin: 16px 0; }
            margin: $single-gap 0;
            float: none;
            font-size: $h3;
        } // product price
        
        .product-details {
            width: 50%;
            float: left;
            margin-top: 0;
            padding: 0 1%;
            border-right: $lightBorder;
        } // product details
    } // breakpoint medium
} // hero container 1

.hero-container-2 {
    
    .product-image {
        margin-left: auto;
        margin-right: auto;
        height: 265px;
    } // product image
    
    img {
        max-height: 100%;
    }
    
    .product-details {
        position: relative;
        height: 100%;
    } // product details
    
    .button-link {
        @include old-ie { margin-bottom: 16px; }
        margin-bottom: $single-gap;
    }
    
    @include breakpoint($large) {
        
        .product-image {
            float: left;
            width: 48%;
            //text-align: left;
        } // product image
        
        .product-details {
            float: right;
            width: 52%;
            height: 100%;
            @include old-ie { padding-top: 0; }
            padding-left: $single-gap;
        } // product details
    } // breakpoint large
} // hero container 2

////// END hero containers




////// LISTING CONTAINERS
.listing-container {
    
    h2 {
        max-width: 100%;
        @include old-ie { margin: 32px gutter(12); padding-bottom: 16px; }
        margin: $double-gap gutter(12);
        padding-bottom: $single-gap;
        border-bottom: $mainBorder;
        font-size: $h2-home;
        
        span {
            color: $lightgray;
        } // span
    } // h2
    
    .sort {
        margin: 0 5.55556%;
        
        @include breakpoint($large) {
            float: right;
            @include old-ie { margin: 32px 1.5% 0 1.5%; }
            margin: $double-gap 1.5% 0 1.5%;
        }
    } // sort
    
    .product-price {
        font-size: $font-small;
    
        @include breakpoint($smadium) {
            font-size: $widget-copy;
        } // breakpoint smadium
    }
    
    .list-item a, a.list-item {
        display: block;
    }
    
    &.list-centered {
        
        h2 {
            border: 0;
            padding-bottom: 0;
            margin-top: 0;
            text-align: center;
        }
        
        .list-item {
            @include old-ie { margin-bottom: 40px; }
            margin-bottom: 2.5rem;
            text-align: center;
        }
        
        .category-title {
            color: $red;
            font-size: $font-small;
            padding-bottom: 0;
            margin-bottom: 0;
            @include old-ie { line-height: 1em; }
            line-height: $single-gap;
            @include old-ie { height: 32px; }
            height: $double-gap;
            overflow: hidden;
            letter-spacing: $topmenu-space;
        } // category title
    } // list centered
    
    .thirds-to-sixth .product-image {
        max-height: 93px;
        
        @include breakpoint($small) {
            max-height: 139px;
        }
        @include breakpoint($smadium) {
            max-height: 174px;
        }
        @include breakpoint($medium) {
            max-height: 167px;
        }
        @include breakpoint($large) {
            max-height: 216px;
        }
        @include breakpoint($xlarge) {
            max-height: 189px;
        }
    }
} // listing container

////// END listing containers




////// SHOP FEATURED ITEM
.sh-featured {
    @include old-ie { margin-top: 32px; }
    margin-top: $double-gap;
    
    h2 {
        font-weight: normal;
        font-size: $h2-home;
        border-bottom: $mainBorder;
        @include old-ie { padding-bottom: 16px; margin-bottom: 16px; }
        padding-bottom: $single-gap;
        margin-bottom: $single-gap;
    } // h2
    
    .button-link {
        font-weight: normal;
        
        svg {
            height: 11px;
            width: 7px;
        }
    }
} // shop featured

.sh-featured-inner {
    @include old-ie { padding: 32px span(1); }
    padding: $double-gap span(1);
    border: $mainBorder;
    
    @include old-ie { display: block; }
    @include display-flex;
    @include flex-direction(column);
    
    & > div {
        margin-left: gutter(10);
        margin-right: gutter(10);
    }
    
    @include breakpoint($smadium-ie) {
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(center);
        height: 450px;
        
        & > div {
            width: span(6);
        }
    }
    
    @include breakpoint($large) {
        & > div {
            width: span(5);
        }
    }
} // shop featured inner

.sh-feat-image {
    @include breakpoint($smadium-ie) {
        height: 100%;
        @include display-flex;
        @include align-items(center);
        
        img {
            max-height: 100%;
        }
    }
}
 
.sh-feat-header {
    @include order(-1);
    
    @include breakpoint($smadium) {
        @include order(0);
    }
} // shop featured title

.sh-feat-details {
    @include old-ie { padding-top: 16px; }
    padding-top: $single-gap;
}

.sh-feat-title {
    text-transform: uppercase;
    color: $red;
    @include old-ie { line-height: 1.3em; }
    line-height: 1.3rem;
    letter-spacing: $topmenu-space;
    @include old-ie { margin-bottom: 8px; }
    margin-bottom: $single-gap/2;
}

.sh-feat-price {
    
}
 
.sh-feat-desc {
    @include old-ie { margin: 16px 0; }
    margin: $single-gap 0;
    letter-spacing: $topmenu-space;
} // p

////// END shop featured item




////// SHOP IN FOCUS
.sh-infocus-outer {
    @include old-ie { margin-top: 32px; }
    margin-top: $double-gap;
    @include old-ie { padding-bottom: 32px; }
    padding-bottom: $double-gap;
}
.sh-infocus {
    
    h2 {
        color: $lightergray;
        text-align: center;
        font-size: $h2-home;
        @include old-ie { margin: 0 auto 32px auto; }
        margin: 0 auto $double-gap auto;
    }
    
    .hs-outer {
        @include old-ie { padding-bottom: 8px; }
        padding-bottom: $single-gap/2;
    }
    
    .hs-item {
        width: span(6);
        margin-left: gutter(12);
        margin-right: gutter(12);
        
        @include breakpoint($smadium-ie) {
            width: span(4);
        }
        
        @include breakpoint($xlarge) {
            width: span(3);
        }
    }
    
    .hs-item-inner {
        text-align: center;
    }
    
    .product-image {
        max-height: 144px;
        display: inline-block;
        
        @include breakpoint($small) {
            max-height: 215px;
        }
        
        @include breakpoint($smadium) {
            max-height: 174px;
        }
        
        @include breakpoint($medium) {
            max-height: 229px;
        }
        
        @include breakpoint($large) {
            max-height: 297px;
        }
        
        @include breakpoint($xlarge) {
            max-height: 304px;
        }
    }
    
    .product-title {
        color: $gold;
        @include old-ie { margin-top: 8px; }
        margin-top: 0.5rem;
        padding-bottom: 0;
        float: none !important;
        width: 100% !important;
        font-size: $widget-copy;
        line-height: 1.1em;
    } // product title
    
    .hs-transport {
        text-align: right;
        @include old-ie { margin-top: 32px; }
        margin-top: $double-gap;
        
        .hs-right, .hs-left {
            display: inline-block;
            width: span(2);
            margin-left: gutter(12);
            margin-right: gutter(12);
            
            &:hover {
                svg {
                    fill: white;
                }
            }
            
            @include breakpoint($smadium-ie){
                width: span(1);
            }
        } // hs right, hs left
        
        svg {
            fill: $gold;
            max-width: 40px;
            max-height: 23px;
        } // svg
    } // hs transport
} // shop in focus

////// END shop in focus




////// SHOP BANNER
.sh-banner-outer {
    @include old-ie{ margin-top: 32px; }
    margin-top: $double-gap;
}
.sh-banner-inner {
    //@include old-ie { padding-bottom: 32px; }
    //padding-bottom: $double-gap;
    
    h2, p {
        color: $gold;
        @include old-ie { margin-bottom: 8px; }
        margin-bottom: $single-gap/2;
    } // h2, p
    
    p {
        font-size: $font-reg;
        @include old-ie { line-height: 1.3em; }
        line-height: 1.3rem;
    } // p
    
    //& > .fth-smad-12:first-of-type {
    //    @include old-ie { margin-bottom: 32px; }
    //    margin-bottom: $double-gap;
    //}
    
    a.button-link {
        font-size: $widget-copy;
        font-weight: normal;
        //@include old-ie { padding-top: 8px; }
        //padding-top: $single-gap/2;
        
        svg {
            width: 12px;
            height: 12px;
            fill: white;
            @include transition(fill $hoverSpeed ease-out);
        }
        
        &:hover svg {
            fill: $red;
            @include transition(fill $quickSpeed ease-out);
        }
    }
    
    .sh-banner-img, .sh-banner-copy {
        padding-left: span(1);
        padding-right: span(1);
        @include old-ie { margin-bottom: 32px; }
        margin-bottom: $double-gap;
    } // sh banner image, sh banner copy
    
    @include breakpoint($smadium-ie) {
        @include old-ie { display: block; }
        @include display-flex;
        @include align-items(center);
    
        //& > .fth-smad-12:first-of-type {
        //    margin-bottom: 0;
        //}
        
        .sh-banner-copy {
            padding-left: 0;
            padding-right: 0;
        } // sh banner image, sh banner copy
    }
    
    @include breakpoint($large) {
        h2 {
            font-size: $h1;
        }
    }
}

////// END shop banner




////// SHOP FOOTER
.sh-footer {
    @include old-ie { padding: 32px 0; margin-bottom: -32px; }
    padding:  $single-gap 0;
    margin-bottom: -($double-gap);
    
    h2 {
        @include old-ie { margin-bottom: 16px; }
        margin-bottom: $single-gap;
    }
    
    ul > li {
        @include old-ie { margin-bottom: 8px; }
        margin-bottom: $single-gap/2;
        @include old-ie { line-height: 1.2em; }
        line-height: 1.2rem;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    .cat-sec {
        margin-top: $single-gap;
        margin-bottom: $single-gap;
    }
}

////// END shop footer




////// SHOP CART

.basket .cart-holder table tr th.desc.shop-image {
    text-align: center;
    
    img {
        max-height: 120px;
        
        @include breakpoint($small) {
            max-height: 150px;
        }
        
        @include breakpoint($smadium) {
            max-height: 266px;
        }
    }
}

////// END shop cart