.simplebar, [data-simplebar-direction] {
    position: relative;
    overflow: hidden;
    /* -webkit-overflow-scrolling: touch; Trigger native scrolling for mobile, if not supported, plugin is used. */
}

.simplebar .simplebar-scroll-content,
[data-simplebar-direction] .simplebar-scroll-content {
    overflow-y: scroll;
    overflow-x: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -ms-overflow-style: none; /* hide browser scrollbar on IE10+ */
}

/* hide browser scrollbar on Webkit (Safari & Chrome) */
.simplebar-scroll-content::-webkit-scrollbar {
    display: none;
}

[data-simplebar-direction="horizontal"] .simplebar-scroll-content,
.simplebar.horizontal .simplebar-scroll-content {
    overflow-x: scroll;
    overflow-y: auto;
    position: static;
}

.simplebar-track {
    z-index: 30;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 16px;
    background-color: #e3e6e1;
    
    .simplebar-scrollbar {
        position: absolute;
        right: 3px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        min-height: 10px;
        width: 10px;
        /* opacity: 0.8; */
        -webkit-transition: opacity 0.2s linear;
        -moz-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        -ms-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
        background: #6f6f6f;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
    }
}

.simplebar-track:hover .simplebar-scrollbar {
    /* When hovered, remove all transitions from drag handle */
    opacity: 1;
    -webkit-transition: opacity 0 linear;
    -moz-transition: opacity 0 linear;
    -o-transition: opacity 0 linear;
    -ms-transition: opacity 0 linear;
    transition: opacity 0 linear;
}

.simplebar-track .simplebar-scrollbar.visible {
    opacity: 1;
}

[data-simplebar-direction="horizontal"] .simplebar-track,
.simplebar.horizontal .simplebar-track {
    top: auto;
    left: 0;
    width: auto;
    height: 11px;
    background-color: initial;
}

[data-simplebar-direction="horizontal"] .simplebar-track .simplebar-scrollbar,
.simplebar.horizontal .simplebar-track .simplebar-scrollbar {
    right: auto;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
    background-color: rgba($lightergray, 0.5);
    opacity: 0;
}

[data-simplebar-direction="horizontal"]:hover .simplebar-track .simplebar-scrollbar,
.simplebar.horizontal:hover .simplebar-track .simplebar-scrollbar {
    opacity: 1;
}