////// WHAT'S ON HEADER

// GENERAL STYLES
article.whatson {
    header {
        @include old-ie { padding: 32px 0 0; }
        padding: $double-gap 0 0;
    } // header
    
    h1, h2, .banner-link, .wo-results > p, .view-selector, .month > p {
        padding: 0 (span(1) + gutter(12));
    } // h1, h2, banner-link, wo-results > p, view-selector
    
    .less-button {
        display: none;
    } // less button
    
    @include breakpoint($medium-ie){
        
        h1, h2, .banner-link, .wo-results > p, .view-selector {
            padding: 0 gutter(12);
        } // h1, h2, banner-link, wo-results > p, view-selector
    } // breakpoint medium
} // article.whats on

.wo-header, .wo-questions, .wo-results, .wo-extras {
    @include container($xlarge);
} // header, questions + results

.wo-header {
    @include old-ie { margin-bottom: 32px; }
    margin-bottom: $double-gap;

    h1 {
        color: white;
    } // h1
} // wo header

.wo-transport-lrg {
    display: none;
    
    @include breakpoint($medium-ie){
        display: block;
        position: relative;
        padding: 0 gutter(12);
        @include old-ie { margin-bottom: 32px; }
        margin-bottom: $double-gap;
        width: 100%;
        float: left;

        .more-button, .less-button {
            float: left;
            position: absolute;
            left: gutter(12);
            bottom: 0;
        } // more button + less button
    } // breakpoint medium
} // wo transport lrg

// END GENERAL STYLES


// QUESTIONS + FILTERS
.wo-q-item, .wo-extras {
    cursor: pointer;

    h3 {
        @include old-ie { letter-spacing: 2px; }
        letter-spacing: 0.1rem;

        span {
            display: inline-block;
        } // span
    } // h3

    .ie-fallback {
        display: none;
    } // ie fallback

    @include old-ie {
        .wo-when .wo-showing { display: none; }
        .wo-when .wo-showing.ie-fallback { display: block; }
    } // old ie
} // question item, extras

.wo-questions {
    color: white;
    position: relative;
    
    @include breakpoint($medium-ie){
        padding: 0;
        position: relative;

        .item-header {
            padding-right: span(1 of 3);
            background: url(img/question-active.svg) center right no-repeat;
            @include old-ie { background: url(img/question-active.png) center right no-repeat; }
            background-size: $double-gap auto;
            min-height: 72px;
        } // item header

        &.active {

            .wo-q-item .filters {
                max-height: 400px;
                height: auto;
            } // wo q item > filters

            .wo-transport-lrg {

                .less-button {
                    display: block;
                } // less button

                .more-button {
                    display: none;
                } // more button

                .wo-apply {
                    display: block;
                } // wo apply
            } // wo transport lrg > wo apply
        } // active
    } // breakpoint medium
} // wo questions

.wo-q-item {
    @include old-ie { padding: 0 (span(1) + gutter(12)) 16px; margin-bottom: 32px; }
    padding: 0 (span(1) + gutter(12)) $single-gap;
    margin-bottom: $double-gap;
    border-bottom: 1px solid $lightergray;

    &:nth-child(3) {
        margin-bottom: $single-gap;
        border-bottom: 0;
    } // nth child (3)

    h3 {
        color: $gold;
        @include old-ie { margin-bottom: 8px; }
        margin-bottom: $single-gap / 2;
    } // h3

    svg {
        @include old-ie { display: none; }
        padding-top: 3px;

        .calendar-icon {
            fill: white;
        } // calendar icon
    } // svg 

    .filters {
        padding: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
    } // filters
    
    .category, .calendar {
        @include old-ie { margin-bottom: 32px; }
        margin-bottom: $double-gap;
    } // category, calendar

    .category {
        padding-top: 1px;

        &:last-child {
            margin-bottom: 0;
        } // last child
    } // category

    .calendar {

        li:first-child {
            padding-top: 0;
        } // li first child

        input {
            @include old-ie { padding: 11px 8px 8px; }
            padding: 0.7rem 0.5rem 0.5rem;
            font-family: 'Futura', Helvetica, sans-serif;
            text-transform: uppercase;
        } // input

        .cal-ie-fallback {
            display: none;
        } // cal ie fallback

        @include old-ie {
            .cal-ie-fallback { display: block }
            .text-fields { display: none }
        } // old ie
    } // calendar
    
    &.active {
        cursor: auto;

        h3 {
            margin-bottom: 0;
        } // h3

        .wo-showing {
            max-height: 0;
            overflow: hidden;
            margin-bottom: 0;
        } // wo showing

        .filters {
            @include old-ie { padding: 32px 0; }
            padding: $double-gap 0;
            height: auto;
            overflow: hidden;
            opacity: 1;
        } // filters

        .more-button {
            display: none;
        } // more button

        .less-button {
            display: block;
        } // less button
    } // wo question item active
    
    @include breakpoint($small-ie){
        padding-left: 0;
        padding-right: 0;
    } // breakpoint small
    
    @include breakpoint($medium-ie) {
        float: left;
        width: 33.33333%;
        @include old-ie { padding: 8px gutter(12); }
        padding: $single-gap/2 gutter(12);
        border-left: 1px solid $lightergray;
        border-bottom: 0;

        &:first-child {
            border-left: 0;
        } // last child

        &:hover > .filters {
            opacity: 1;
        } // hover > filters

        .filters {
            padding: 0;
            max-height: 0;
            opacity: 0.4;
            @include transition(opacity $hoverSpeed ease-out, max-height $hoverSpeed ease-out);

            .category, .calendar {
                margin-bottom: 0;
            } // category + calendar
        } // filters

        .wo-apply, .wo-transport, .more-button, .less-button {
            display: none;
        } // wo apply, transport, more button, less button

        &.active {

            h3 {
                @include old-ie { margin-bottom: 8px; }
                margin-bottom: $single-gap / 2;
            } // h3

            .filters {
                padding: 0;
            } // filters

            .wo-showing {
                max-height: 30px;
                @include old-ie { margin-bottom: 16px; }
                margin-bottom: $single-gap;

                &.chosen {
                    max-height: 120px;
                } // chosen
            } // wo showing
        } // active
    } // breakpoint medium
} // whatson question item

// END QUESTIONS + FILTERS


// QUESTION TRANSPORT
.wo-transport {
    @include old-ie { margin-top: 32px; padding-bottom: 16px; }
    margin-top: $double-gap;
    padding-bottom: $single-gap;

    .control {
        color: $gold;
        cursor: pointer;
        @include transition(all $hoverSpeed ease-out);
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        width: 80px;

        &:hover {
            color: $lightergray;
        } // hover

        &:first-child {
            float: left;
            @include old-ie { margin-left: 16px; }
            margin-left: $single-gap;

            &:before {
                content:"\00ab";
                position: absolute;
                top: 20%;
                left: -15px;
            } // before
        } // first child

        &:last-child {
            float: right;
            text-align: right;
            @include old-ie { margin-right: 16px; }
            margin-right: $single-gap;

            &:after {
                content:"\00bb";
                position: absolute;
                top: 20%;
                right: -15px;
            } // after
        } // last child
    } // control
} // whats on transport

// END QUESTION TRANSPORT


// FILTER SEARCH INDICATOR
.wo-showing {
    @include old-ie { margin-bottom: 16px; }
    margin-bottom: $single-gap;
    max-height: 30px;

    &.chosen {
        max-height: 120px;

        .choice {
            display: inline-block;
        } // choice
    } // chosen

    .choice {
        position: relative;
        color: $gold;
        @include old-ie { line-height: 20px; }
        line-height: 1.5rem;
        margin-right: 35px;
        display: none;

        &:after {
            @include transition(all $hoverSpeed ease-out);
            position: absolute;
            background: url(img/check-yellow.svg) top right no-repeat;
            content: "";
            width: 24px;
            height: 16px;
        } // after
    } // choice
} // whats on showing

// END FILTER SEARCH INDICATOR


// APPLY FILTERS
.wo-apply {

    .go-button, .reset-filters {
        width: 40%;
    } // go button, reset filters

    .go-button.inactive, .reset-filters.inactive {
        opacity: 0.5;
        cursor: not-allowed;
    } // go button.inactive, reset filters.inactive

    .reset-filters {
        cursor: pointer;
        text-transform: uppercase;
        @include transition(color $hoverSpeed ease-out);
        float: right;
        padding-right: 0;
        text-align: right;

        &:hover {
            color: $gold;
        }// hover

        &::before {
            content: "- ";
        } // before
    } // reset filters
    
    @include breakpoint($small-ie){

        .go-button, .reset-filters {
            width: auto;
        } // go button + reset filters
    } // breakpoint small
    
    @include breakpoint($medium-ie){
        
        float: right;
        width: span(4);
        display: none;

        & > div, & > .button-link {
            float: right;
            clear: both;

            &:first-child {
                @include old-ie { margin-bottom: 32px; }
                margin-bottom: $double-gap;
            } // first child
        } // > div
    } // breakpoint medium
} // wo apply

// END APPLY FILTERS


// EXTRA QUESTIONS + FILTERS (In Cinemas + Search)
.wo-extras-outer {
    background-color: $red;
    color: white;
    
    .wo-search-bar {
        height: 0;
        overflow: hidden;
        margin-top: 0;
        margin-bottom: 0;
        opacity: 0;
        background-color: transparent;
    } // wo search bar
} // wo extras outer

@include breakpoint($small-ie){

    .wo-extras-outer, .wo-questions {
        padding-right: span(1) + gutter(12);
        padding-left: span(1) + gutter(12);
    } // wo questions
} // breakpoint small

@include breakpoint($medium-ie){

    .wo-extras-outer {
        padding-left: 0;
        padding-right: 0;
    } // wo extras outer
} // breakpoint medium


.wo-q-extra {
    display: block;
    color: white;
    @include transition(all $hoverSpeed ease-out);
    @include old-ie { padding: 16px (span(1) + gutter(12)); }
    padding: $single-gap (span(1) + gutter(12));
    border-bottom: 1px solid $red;

    &:first-child {
        border-bottom: 1px solid white;
    } // first child

    svg {
        @include old-ie { display: none; }
        height: 0.8rem;
        width: 0.8rem;
        margin-right: 0.1rem;

        path {
            @include transition(fill $hoverSpeed ease-out, stroke $hoverSpeed ease-out);
        } // path
    } // svg

    &:hover {
        @include transition(all $hoverSpeed ease-out);
        background-color: white;
        color: $red;

        #searchIcon{
            fill: $red;
        } // search icon

        #inCinemasIcon {
            stroke: $red;
        } // InCinemas Icon
    } // hover

    &.active {
        background-color: $red;
        color: white;

        #searchIcon{
            fill: white;
        } // search icon

        #inCinemasIcon {
            stroke: white;
        } // InCinemas Icon

        .less-button {
            display: block;
        } // more button

        .more-button {
            display: none;
        } // more buttons
    } // active
    
    @include breakpoint($small-ie){
        
        padding-left: gutter(12);
        padding-right: gutter(12);
    } // breakpoint small
    
    @include breakpoint($medium-ie){
        
        width: 50%;
        float: left;
        border-bottom: 1px solid $red !important;
        padding-left: gutter(12);
        padding-right: gutter(12);

        &:first-child {
            border-right: 1px solid white;
        } // first child
    } // breakpoint medium
} // wo-q-extras

// END EXTRA QUESTIONS + FILTERS (In Cinemas + Search)




////// WHAT'S ON RESULTS WRAPPER
.wo-results {
    h2 {
        @include old-ie { margin: 32px 0; }
        margin: $double-gap 0;
    } // h2

    .active-gi-holder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include old-ie { background-color: $gray; }
        background-color: rgba($gray, 0.8);
        z-index: -1;
        opacity: 0;
        display: none;

        &.active {
            z-index: 10;
            display: block;
        } // active

        .wo-grid-item {
            position: absolute;
        } // wo grid item when active
    } // active gi holder
} // .wo-results

.results-inner {
    position: relative;
    @include container($xlarge);
} // results inner

////// END WHAT'S ON RESULTS WRAPPER


////// WHAT'S ON GRID ITEM
.wo-grid-item {
    cursor: pointer;
    background-color: $gray;

    //&:hover {
    //    .gi-header .gi-main-image .red-overlay {
    //        opacity: 1;
    //    } // gi header > gi main image > red overlay
    //} // hover

    img {
        width: 100%;
        display: block;
    } // img

    h3 {
        font-size: $intro-copy-lrg;
    } // h3
    
    .title-copy {
        @include background-image(linear-gradient(to bottom, rgba(black, 0) 0%, rgba(black, 0) 50%, rgba(black, 0.6) 100%));
    }
    
    // GRID ITEM ACTIVE
    &.active {
        color: $lightergray;
        cursor: default;
        
        .less-button {
            display: block;
        }
        
        .gi-main-image {
            min-height: 0 !important;
        } // reset min height, gi-main-image
        
        .main-image-holder { 
            height: 147px;
            overflow: hidden;

            img {
                opacity: 0;
            } // image
        } // main image holder

        .title-copy {
            height: 147px;
            background-image: initial;
        } // title copy

        .gi-title-bkgrnd {
            margin-top: 16px;

            .red-overlay {
                opacity: 0;
            } // red overlay

            .red-regular {
                opacity: 1;
            } // red regular
        } // gi title background
        
        .gi-details {
            height: auto;
            @include old-ie { padding: 32px (span(1) + gutter(12)); }
            padding: $double-gap (span(1) + gutter(12));
            opacity: 0;
            display: block;
        } // gi details
        
        .gi-info {
            height: 0;
            padding: 0;
        } // gi info
    } // active state
    
    &.hp-topline, &.hp-bottomline {
        display: block;
        
        // reset copy colour
        .loc, .dates, .more-button {
            color: $gray;
            //@include transition(all $hoverSpeed ease-out);
        } // loc + dates + more-button
        
        // THIS AND ABOVE TRANSITION REMOVED DUE TO SAFARI ISSUES WITH MIX BLEND MODE ETC
        //&:hover {
        //    .loc, .dates, .more-button {
        //        color: $red;
        //    } // loc + dates + more-button
        //} // hover
    } // hp-topline + hp-bottomline
    
    &.hp-topline:first-child {
        @include old-ie { margin-top: 32px; }
        margin-top: $double-gap;
    } // hp topline first child
    
    &.hp-bottomline:nth-child(3n) {
        display: none;
    } //3rd child
    
    @include breakpoint($smadium-ie){
        float: left;
        width: 50%;
        
        &.hp-topline {
            @include old-ie { margin-top: 32px; }
            margin-top: $double-gap;
        } // hp topline
        
        &:nth-child(2n):not(.hp-bottomline) {
            .gi-info {
                border-right: 0;
            } // gi info
        } // nth child 2
        
        &.active {
            width: 100%;
            
            .gi-intro, .gi-perf-list {
                width: span(5 of 10);
            } // gi intro + perf list
            
            .gi-intro {
                float: left;
            } // gi intro
            
            .gi-perf-list {
                float: right;
            } // gi perf list
            
            .gi-close {
                width: 100%;
                float: left;
                clear: both;
            } // grid item close
        } // active
    } // breakpoint smallmedium
    
    @include breakpoint($medium) {
        &.active {
            .gi-details {
                padding-left: gutter(12);
                padding-right: gutter(12);
                
                .gi-intro, .gi-perf-list {
                    width: span(6);
                } // gi intro + perf list
            } // gi details
        } // active
        
        //.gi-main-image {
        //    min-height:  300px;
        //} // reset min height, gi-main-image
        
        &.hp-bottomline {
            width: 33.33333%;
            
            &:nth-child(3n){
                display: block;
            } //3rd child
            
            .gi-main-image {
                min-height: 200px;
            } // reset min height, gi-main-image
            
            .title-bkgrnd.gi-title-bkgrnd {
                height: 100px;
            }
            
            &, .subtitle, .credit {
                font-size: $font-small;
            }
            
            h3.title {
                font-size: $h3;
            }
            
            .gi-info {
                height: 100px;
            }
        } // hp bottomline
    } // breakpoint medium
    
    @include breakpoint($large){
        width: 33.3333%;

        &:nth-child(3n) {
            .gi-info {
                border-right: 0 !important;
            } // gi info
        } // nth child 2
        
        &.active {
            width: 66.6666%;
            
            .gi-details {
                padding-left: gutter(9);
                padding-right: gutter(9);
                
                .gi-intro, .gi-perf-list {
                    width: span(4.5 of 9);
                } // gi intro + perf list
            } // gi details
            
        } // active
        
        &.hp-topline {
            width: 50%;
        } // homepage topline
        
        &.hp-bottomline {
            &, .subtitle, .credit {
                font-size: $widget-copy;
            }
            
            h3.title {
                font-size: $h2;
            }
            
            .gi-info {
                height: 110px;
            }
        } // homepage bottomline
    } // breakpoint large
} // grid item

a.wo-grid-item {
    color: $gray;
    
    &:hover {
        color: $gray;
    } // hover
} // a.wo-grid-item

.gi-main-image {
    position: relative;
    min-height: 300px;

    .red-regular {
        opacity: 0;
        @include transition(opacity $hoverSpeed ease-out);
    } // red regular

    .red-overlay {
        opacity: 0.8;
        @include transition(opacity $hoverSpeed ease-out);
    } // red overlay
} // main image

.gi-title-bkgrnd {
    height: 125px;
    padding: 0 gutter(12);
    display: block;    // reset for non-flexbox

    display: -ms-flexbox;    // TWEENER - IE 10
    -ms-flex-direction: column;    // TWEENER - IE 10
    -ms-flex-pack: center;    // TWEENER - IE 10

    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);

    .title, .subtitle {
        width: 100%;
    } // title + subtitle
} // title bkgrnd

.gi-details {
    display: none;
    overflow: hidden;

    .gi-intro, .gi-perf-item {
        @include old-ie { margin-bottom: 32px; }
        margin-bottom: $double-gap;
    } // gi intro

    .gi-intro-copy {
        font-size: $h2;
        line-height: 1.3em;
        @include old-ie { margin-bottom: 16px; }
        margin-bottom: $single-gap;
    } // gi intro
} // details

.gi-perf-list {
    text-transform: uppercase;
    color: $gold;
    line-height: 1.2em;

    .date {
        display: inline-block;
    } // date

    .button-link {
        @include old-ie { margin-top: 8px; }
        margin-top: $single-gap/2;
    } // button link
} // perf list

.gi-info {
    background-color: $lightergray;
    @include old-ie { padding: 16px 0; }
    padding: $single-gap 0;
    height: 120px;
    text-transform: uppercase;
    overflow: hidden;
} // info

.gi-info-inner {
    display: block;    // reset for non-flexbox

    display: -ms-flexbox;    // TWEENER - IE 10
    -ms-flex-direction: column;    // TWEENER - IE 10
    -ms-flex-pack: justify;    // TWEENER - IE 10

    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    height: 100%;
    padding: 0 (span(1) + gutter(12));

    .loc, .dates {
        @include old-ie { margin-bottom: 8px; }
        margin-bottom: $single-gap/2;

        span {
            display: inline-block;
        } // span
    } // location, dates

    .dates {
        font-style: italic;
    } // dates
} // info inner

@include breakpoint($smadium-ie){

    .gi-main-image {
        min-height: 250px;
    } // reset min height, gi-main-image

    .gi-info {
        border-right: 1px solid white;

        .gi-info-inner {
            padding: 0 gutter(6);
        } // gi-info-inner
    } // gi info
} // breakpoint smadium

@include breakpoint($medium) {
        
    .gi-main-image {
        min-height:  300px;
    } // reset min height, gi-main-image
} // breakpoint medium

@include breakpoint($large){

    .gi-info {
        border-right: 1px solid white !important;
    } // gi info
    
    .gi-info-inner {
        padding: 0 gutter(4);
    } // gi info inner
} // breakpoint large

@include breakpoint($xlarge){
    
    .gi-main-image {
        min-height: 450px;
    } // reset min height, gi-main-image
} // breakpoint xlarge

////// END GRID ITEM



////// VIEW SELECTOR
.view-selector {
    margin-bottom: $double-gap;
}

.view-btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px;
    color: $gray;
    font-size: $font-small;
    cursor: pointer;
    @include transition(all $hoverSpeed ease-out);
    
    &:first-child {
        margin-right: $single-gap / 2;
    }
    
    &.selected, &.selected:hover {
        background-color: $lightergray;
        color: $gray;
        cursor: default;
        
        svg rect {
            fill: $gray;
        } // svg
    } // selected
    
    > span {
        display: inline-block;
        margin-left: 5px;
        padding-top: 5px;
        vertical-align: top;
        
        span {
            display: none;
            
            @include breakpoint($small-ie) {
                display: inline;
            }
        }
    } // span
    
    svg {
        display: inline-block;
        width: 17px;
        height: 17px;
        
        rect {
            @include transition(all $hoverSpeed ease-out);
            fill: $gray;
        } // rect
    } // svg
    
    &:hover {
        color: $lightergray;
        background-color: $gray;
        
        svg rect {
            fill: $lightergray;
        } // svg
    } // hover
} // view btn

// WITHIN FLOATING MENU
.floating-menu {
    
    .view-selector {
        padding: 0.5rem 0 0 !important;
        margin-top: 0.5rem;
        margin-bottom: 0;
    } // view selector
    
    .view-btn {
        float: left;
        padding: 5px 5px 3px;
        color: white;
        
        &.selected, &.selected:hover {
            background-color: white;
            color: $red;
            
            svg rect {
                fill: $red;
            } // svg
        } // selected
        
        span {
            padding-top: 1px;
        }
    } // view btn
    
    svg {
        width: 9px;
        height: 9px;

        rect {
            fill: white;
        } // rect
        
        @include breakpoint($medium-ie) {
            width: 11px;
            height: 11px;
        }
    } // svg
} // floating menu

////// END VIEW SELECTOR BUTTON




////// CALENDAR VIEW

.calendar-view {
    /* display: none; */
    
    .month {
        margin-bottom: $double-gap;

        h2 {
            margin-bottom: $single-gap;
        } // h2
    } // month
} // calendar view

.week .day {
    margin: 0 gutter(12) $single-gap/2;
    padding: $single-gap 0 0;
    background-color: $gray;
    cursor: pointer;
    @include transition(background-color $hoverSpeed ease-out);
    
    .date, .perf-title, .also {
        text-transform: uppercase;
    } // date, perf item, also
    
    .date {
        font-weight: bold;
        color: white;
        font-size: $h2;
    } // date
    
    .perf-sum {
        margin-top: $single-gap;
    } // perfs
    
    .date, .perf-sum {
        padding: 0 span(1);
    }
    
    .perf-title, .also {
        color: $gold;
        margin-bottom: $single-gap/2;
    } // perf item
    
    .perf-title {
        position: relative;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .also {
        height: $single-gap;
        background: url(img/also-on.svg) left 2px no-repeat;
        background-size: 12px 10px;
        padding-left: 1.2rem;
    } // also svg
    
    .more-button {
        color: $lightergray;
    } // more button
    
    .more-button, .less-button {
        text-align: right;
        margin-right: span(1);
        padding-bottom: $single-gap;
    } // more button + less button
    
    &.oor {
        display: none;
        cursor: default;
        background-color: white;
    } // out of range
    
    &.empty {
        background-color: $lightergray;
        cursor: default;
        padding-bottom: $single-gap;
        
        .date {
            color: $gray;
        } // date
    } // empty
    
    &.selected {
        background-color: $red;
        
        .perf-sum {
            height: 0;
            overflow: hidden;
            opacity: 0;
        } // perf sum
        
        .more-button {
            display: none;
        } // more button
        
        .less-button {
            display: block !important;
        } // less button
    } // selected
} // week > day

.week .less-button {
    text-align: right;
    color: white;
    @include transition(color $hoverSpeed ease-out);

    &:hover {
        color: $gold;
    } // hover
} // less buttons

.all-perfs {
    background-color: white;
    border: 1px solid $red;
    display: none;
    overflow: hidden;
    
    h3 {
        background-color: $lightergray;
        padding: $single-gap span(1);
        max-width: 100%;
    } // h3
    
    .close-perfs {
        background-color: $red;
    } // close perfs
    
    .less-button {
        display: block !important;
        padding-top: $single-gap;
    } // less button
} // all perfs

.perf-item {
    padding: $single-gap span(1);
    border-bottom: 1px solid $lightgray;
    
    .type {
        float: right;
        padding: 4px 4px 2px;
        text-transform: uppercase;
        font-size: $font-small;
        border: $mainBorder;
    } // type
    
    .perf-details {
        padding: $single-gap 0 $single-gap/2;
        
        .title {
            color: $red;
            text-transform: uppercase;
            letter-spacing: $intro-space;
        } // title
        
        .place, .city, .duration, .extra-info {
            font-size: $widget-copy;
        } // place, city
        
        .duration span, .extra-info span {
            display: inline-block;
        } // duration span, extra info span
        
        .extra-info span {
            font-weight: bold;
        }
        
        .title, .place, .city, .extra-info span {
            margin-bottom: $single-gap/2;
        } //.title, .place, .city, .extra-info span
        
        .duration span {
            font-style: italic;
        } // duration span
        
        .extra-info span:first-child {
            margin-top: $single-gap;
        }
    } // perf details
    
    .button-link {
        margin-bottom: $single-gap/2;
        
        &:last-child {
            margin-bottom: 0;
        }
    } // button link
} // perf item

@include breakpoint($small) {
    .week .day {
        margin-left: span(1) + gutter(12);
        margin-right: span(1) + gutter(12);
        
        .date, .perf-sum {
            padding: 0 span(1 of 10);
        }
    } // week > day
    
    .all-perfs h3, .all-perfs .close-perfs, .perf-item {
        padding-left: span(1 of 10);
        padding-right: span(1 of 10);
    } // all perfs > h3 + close perfs, perf item
} // breakpoint small

@include breakpoint($medium) {
    .week {
        @include container($xlarge);
        
        &:last-child {
            .day {
                border-bottom: 1px solid $lightgray;
            } // day
        } // last child
        
        .day {
            position: relative;
            height: 200px;
            margin: 0;
            padding: 10px;
            width: (100% / 7);
            float: left;
            border-top: 1px solid $lightgray;
            border-left: 1px solid $lightgray;
            
            &:last-child {
                border-right: 1px solid $lightgray;
            }
            
            &.oor {
                display: block;
            } // out of range
            
            .date, .perf-sum {
                padding: 0;
            }
            
            .date {
                font-size: $widget-copy;
            } // date
            
            .mnth-tag {
                display: none;
            } // month tag
            
            .perf-title, .also {
                font-size: $font-small;
                margin-bottom: $single-gap/2;
                height: 11px;
                padding-top: 1px;
                overflow: hidden;
            } // perf item
            
            .also, .more-button, .less-button {
                font-size: 10px;
            } // also, more button
            
            .more-button, .less-button {
                position: absolute;
                bottom: 10px;
                right: 10px;
                padding-bottom: 0;
                margin-right: 0;
            } // more button, less button
        } // day
    } // week
    
    .all-perfs {
        float: left;
        width: 100%;
        
        .location-section {
            @include container($xlarge);
        } // location section
        
        h3, .close-perfs {
            padding-left: gutter(12);
            padding-right: gutter(12);
        } // h3
        
        .less-button {
            padding-bottom: $single-gap !important;
        } // less button
    } // all perfs
    
    .perf-item {
        width: 33.3333%;
        float: left;
        height: 320px;
        padding-left: gutter(12);
        padding-right: gutter(12);
        border-right: 1px solid $lightgray;
        position: relative;
        
        &:nth-of-type(3n + 1) {
            border-left: 1px solid $lightgray;
        } // nth of type 3n + 1
        
        .buttons {
            position: absolute;
            bottom: $single-gap;
            width: (100% - (gutter(12) * 6));
            
            .button-link {
                margin-top: $single-gap/2;
                margin-bottom: 0;
            }
        } // buttons
    } // perf item
} // breakpoint medium

@include breakpoint($large) {
    .week .day {
        height: 230px;
        
        .date {
            font-size: $h2;
        } // date
        
        .perf-title {
            font-size: $widget-copy;
        } // perfs
        
        .perf-title, .also {
            height: 14px;
            padding-top: 1px;
        } // perf item, also
        
        .also, .more-button, .less-button {
            font-size: $font-small;
        } // also, more button
    } // week > day
} // breakpoint large

@include breakpoint($xlarge) {
    .perf-item {
        width: 25%;
        
        &:nth-of-type(3n + 1) {
            border-left: 0;
        } // nth of type 3n + 1
        
        &:nth-of-type(4n + 1) {
            border-left: 1px solid $lightgray;
        } // nth of type 3n + 1
    } // perf item
} // breakpoint xlarge


// EXTRAS FROM STEVE
#calendar-view {
    display: none;
}

#calendar-outer {
    position: relative;
    min-height: 500px;
}

#calendar-loader {
    min-height: 500px;
    display: none;
    
    .loader-outer {
        position: fixed;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        background-color: initial;
    }
    
    .loader:before, .loader:after {
        background-color: white;
    }
}

#calendar-wrapper {
    opacity: 1;
    @include transition(opacity $hoverSpeed ease-out);
}

#calendar-wrapper.faded {
    opacity: 0.4;
    @include transition(opacity $hoverSpeed ease-out);
}

#calendar-loader {
    &:before, &:after {
        background: white;
    }
}

////// END CALENDAR VIEW