@import "compass/compass";
@import "compass/compass/reset";
@import "compass/compass/css3";
@import "compass/animation/core";
@import "breakpoint/breakpoint";
@import "susy/susy";

@import "variables";
@import "mixins";

////// SUSY GRID LAYOUT
$susy: (
    columns: 12,
    gutters: 0.5,
    gutter-position: split
);

// Will not print media queries
@include breakpoint-set('no queries', true);
// Will print No Query Fallbacks
@include breakpoint-set('no query fallbacks', true);
// old ie mixin enable
$old-ie: true;

@import "shopstyles";